body{
    background-color: black;
    font-family: "Protest Strike", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1250px;
    grid-template-rows: 0px 600px 100px 700px 700px 700px;
    grid-template-areas: 
    'navbar'
    'video'
    'headtext'
    'picture1'
    'picture2'
    'picture3';
}

.box1{
    grid-area: navbar; 
    background-color: black;
}

.navbar{
    width: 100%;
    z-index: 100;
    position: fixed;
    overflow: hidden;

}
.navlinks{

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navlinks li{
    float: right;
}

.navlinks li a{
    color: white;
    display: block;
    text-align: center;
    padding: 24px 20px;
    border: 2px;
    text-decoration: none;
}

.navlinks li a:hover{
    color: white;
    background: #6D2932;
    transition: 0.5s;
    border-radius: 80%;
}

.navlinks img{
    opacity: 30%;
    width: 13%;
}

.box2{
    grid-area: video;
    background-color: red;
}

.box2 video{
    grid-area: video;
    width: 100%;
}

.box3{
    grid-area: headtext;
    font-family: "Protest Riot", sans-serif;
    text-align: center;
    font-size: 1.3em;
    background-color: brown;
}

.box4{
    grid-area: picture1;
    position: relative;
    /* grid-area: picture1; */
    background-color: yellow;
}

.box4 .inside4{
    position: absolute;
    color: bisque;
    top: 1.5em;
    left: 1.5em;
    font-size: 3em;
    text-align: left;
    /* grid-area: picture1; */

}

.box4 img{
    grid-area: picture1;
    width: 100%;
}

.box4 .action-button{
    cursor: pointer;
    border: 3px;
    border-radius: 30%;
    transition: 0.5s;
    background-color: bisque;
    color: brown;
    width: 15%;
    height: 5%;
    position: absolute;
    font-size: 1em;
    left: 6%;
    top: 22%;
    z-index: 500;
}

.box4 .action-button:hover{
    transition: 0.5s;
    background-color: brown;
    color: wheat;
}

.box5{

    position: relative;
    background-color: black;
}

.box5 img{
    grid-area: picture2;
    width: 100%;
    height: 99%;
}

.box5 .text-over{
    position: absolute;
    color: bisque;
    top: 1.5em;
    left: 1.5em;
    font-size: 3em;
    text-align: left;
}

.box6{
    position: relative;
    background-color: tomato;
}

.box6 img{
    grid-area: picture3;
    width: 100%;
}
