body {
   background-color: rgb(0, 0, 0);
   font-family: "Protest Strike", sans-serif;
   margin: 0;
   padding: 0;
}

header {
   text-align: center;
   padding: 20px;
   background-color: #6D2932;
   color: white;
}

nav {
   background-color: #333;
   color: white;
   padding: 10px;
}

nav ul {
   list-style-type: none;
   padding: 0;
   text-align: center;
}

nav ul li {
   display: inline;
   margin-right: 10px;
}

nav ul li a {
   color: white;
   text-decoration: none;
}

section {
   padding: 20px;
   color: #7d4720;
}

footer {
   text-align: center;
   background-color: #333;
   color: white;
   padding: 10px;
   position: fixed;
   bottom: 0;
   width: 100%;
}
.project
{
    color: rgb(255, 255, 255);
/* margin-top:10vh; */
}