

body {
   background-color: rgb(0, 0, 0);
   font-family: "Protest Strike", sans-serif;
   margin: 0; /* להסיר את הריווח המובנה של body */
   padding: 0; /* להסיר את הריווח הפנימי של body */
   
}

.container {
   display: grid;
   grid-template-rows: repeat(12, minmax(100px, 1fr )); /* שנים עשר שורות בגובה שווה */
   margin: 0; /* להסיר את הריווח המובנה של body */
   padding: 0; /* להסיר את הריווח הפנימי של body */
   max-height: 1000vh;
   min-height: 900vh; /* גובה מינימלי של ה-container */
   grid-template-areas: 
       'box1 box1 box1'
       'box2 box3 box3'
       'box4 box5 box5'
       'box6 box6 box6'
       'box10 box11 box12';
}


.container > div {
   position: relative;
   overflow: hidden;
 }
 
 .box::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 200%;
   height: 200%;
   background-color: rgba(0, 0, 0, 0.5);
   transform: translate(-50%, -50%) rotate(-45deg);
   transition: width 0.3s, height 0.3s, opacity 0s;
   z-index: 1;
   opacity: 40%;
 }
 
 .box:hover::after {
   width: 0;
   height: 0;
   opacity: 0;
 }


.container > div {
   border: 0.1vh solid rgb(0, 0, 0); /* גבולות לתאים */
   overflow: hidden; /* מנע גלילה בתאים */
}
.box1 {
   grid-area: box1;
   background-color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   max-height: 100vh;
   position: relative; /* כדי להשתמש ב-position: absolute; בסרטון */
   overflow: hidden; /* להסתיר חלק מהסרטון שחור */
}

.video {
   position: absolute;
   top: 50%; /* מציב את הסרטון באמצע התיבה לגובה */
   left: 50%; /* מציב את הסרטון באמצע התיבה לרוחב */
   transform: translate(-50%, -50%); /* מציב את הסרטון באמצע התיבה מבחינת גובה ורוחב */
   min-width: 100%; /* גובה מינימלי של הסרטון כדי למלא את התיבה */
   min-height: 100%; /* רוחב מינימלי של הסרטון כדי למלא את התיבה */
   object-fit: cover; /* מסדר את התמונה כך שהיא תמלא את התיבה ולא תאבד יחסי תמונה */
   opacity: 30%;
}

.logo
{
   position: absolute;
   top: 0px;
   left: 3px;
   position: fixed;
   z-index: 110;
   height: 10%;
   opacity: 90%;
}
.navbar {
   position: absolute;
   overflow: hidden;
   z-index: 100;
   top: 0;
   position: fixed;
}

.navlinks li {
   float: right;
}

.navlinks {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.navlinks li a {
   font-family: 'Protest Strike', sans-serif;
   color: white;
   display: block;
   text-align: center;
   padding: 24px 20px;
   border: 2px;
   text-decoration: none;
}
.navlinks li a:hover {
   color: white;
   background: #3a2309;
   border-radius: 0%;
margin-top: 5px;
height: 0.3vh;
}

.navlinks img {
   opacity: 30%;
   width: 40px;
   border-radius: 100px;

}

.button {
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* background-color: #231206; */
   background-color: rgb(57, 36, 16);
   color: white;
   border: none;
   cursor: pointer;
   font-size: 16px;
   font-family: "Protest Riot", sans-serif;
   border-radius: 100%;
   width: 20%;
   height: 4vh;
   border-bottom-style: dashed;
   z-index: 100;
}

.button1 {
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* background-color: #24170a; */
   background-color: #5d3c1b;
   color: white;
   border: none;
   cursor: pointer;
   font-size: 16px;
   font-family: "Protest Riot", sans-serif;
   border-radius: 4%;
   width: 20%;
   height: 4vh;

}
.button:hover {
  
   opacity: 70%;
   background-color: #8f4b08;
   color: white;
}
.button1:hover {
  
   opacity: 1;
   background-color: #cd7b1d;

}
.button {
   /* קוד קיים */
   opacity: 0.7;
}

.box2 {
   grid-area: box2;
   background-color: rgb(0, 0, 0);
   z-index: 100;

}
.imgbox2 {
   height: 90%;
   margin: 10%;
   opacity: 50%;
   border-radius: 100px;
   object-fit: cover; /* תמלא את התיבה ללא השפעה על יחסי תמונה */
   object-position: center; /* ממוקם במרכז האופקי והאנכי של התיבה */
}

.box3 {
   grid-area: box3;
   .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30vh;
      z-index: 100;
      
   }
   
   .text {
      font-family: "Yanone Kaffeesatz";
      font-size: 100px;
      display: flex;
      position: absolute;
      bottom: 40vh;
      left: 50%;
      transform: translateX(-50%);
      user-select: none;
   
      .wrapper {
         padding-left: 20px;
         padding-right: 20px;
         padding-top: 20px;
         .letter {
            transition: ease-out 1s;
            transform: translateY(40%);
         }
         .shadow {
            color: #ffffff;
            transition: ease-in 3s, ease-out 3s;
         }
         &:hover {
            .letter {
               transform: translateY(-200%);
            }
            .shadow {
               opacity: 0;
               transform: translateY(200%);
            }
         }
      }
   }
   

}


.box4 {
   grid-area: box4;
   background-color: rgba(0, 0, 0, 0.713);

}
.box4P
{
   color: #fff;
   text-align: center;
   color: #ffffff;
   font-size: 1rem;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size:medium;
   width: 80%;
   margin-top: 14%;
   margin-left: 10%;
}

.box5 {
   grid-area: box5;
   background-color: rgb(0, 0, 0);
}
.p5h
{
   color: white;
}
.p5
{

   color:aliceblue
}
  
  body{
      margin: 0;
      padding: 2rem;
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
  }
  
  body h1{
      font-weight: 600;
  }
  body hr{
      width:50px;
      border: none;
      border-bottom: 1px solid rgba(119, 119, 119, 0.25)
  }
  .container1{
      width: 60%;
      margin: 1rem auto;
      padding: 2rem;
      text-align: justify;
      transition: all 0.3s;
  }
  .container1 p{
      line-height: 1.5;
      letter-spacing: 0.3px;
      word-spacing: 2px;
  }
  
  .container1 p:first-child::first-letter{
      color:#4a2b18;
      font-weight: bold;
      font-size: 70px;
      float: left;
      line-height: 60px;
      padding-right: 8px;
      margin-top: -3px;
  }
  
  @media screen and (max-width:600px)
  {
      .container1
      {
          width: 100%;
          padding: 1rem;
      }
  }

.box6 {
   grid-area: box6;
   background-color: rgb(0, 0, 0);
   .milky {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
  text-transform: uppercase;
  display: block;
  font-size: 92px;
  color: #ffffff;
  text-shadow: 0 8px 9px #493816, 0px -2px 1px #38260c;
  font-weight: bold;
  letter-spacing: -4px;
  text-align: center;
  background: linear-gradient(to bottom ,  #000000 0%,#462a0c   230vh);
  position: absolute;
  padding: 90px 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}
.button6 {
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #462a0c;
   color: white;
   border: none;
   cursor: pointer;
   font-size: 16px;
   font-family: "Protest Riot", sans-serif;
   border-radius:40%;
   width: 20%;
   height: 4vh;
   border-bottom-style:groove;
   z-index: 100;
}

body,html {
  height: 100%;
} 
}
.milky {
   width: 100%;
   height: 30vh;
   font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
   text-transform: uppercase;
   display: block;
   font-size: 92px;
   color: #000000;
   text-shadow: 0 8px 9px #de8c08, 0px -2px 1px #a72e2e;
   font-weight: bold;
   letter-spacing: -4px;
   text-align: center;
   background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%);
   position: absolute;
   padding: 100px 200px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 20px;
 }
 
 

.box7 {
   grid-area: box7;
   background-color: rgb(0, 0, 0);
   
}
.imgbox7
{
   position: absolute;
   top: 90%; /* מציב את הסרטון באמצע התיבה לגובה */
   left: 50%; /* מציב את הסרטון באמצע התיבה לרוחב */
   transform: translate(-50%, -50%); /* מציב את הסרטון באמצע התיבה מבחינת גובה ורוחב */
   min-width: 100%; /* גובה מינימלי של הסרטון כדי למלא את התיבה */
   min-height: 100%; /* רוחב מינימלי של הסרטון כדי למלא את התיבה */
   object-fit: cover; /* מסדר את התמונה כך שהיא תמלא את התיבה ולא תאבד יחסי תמונה */
   opacity: 20%;
}
.box8 {
   grid-area: box8;
   background-color: rgb(178, 108, 23);
}

.box9 {
   grid-area: box9;
   background-color: rgb(56, 53, 53);
}

.box10 {
   grid-area: box10;
   background-color: rgb(0, 0, 0);
}

.box11 {
   grid-area: box11;
   background-color: rgb(0, 0, 0);
}

.box12 {
   grid-area: box12;
   background-color: rgb(0, 0, 0);
}
.p5h
{
   color: #38302a;
}

.project
{
    color: rgb(255, 255, 255);
/* margin-top:10vh; */
}