@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Protest+Riot&family=Protest+Strike&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

    font-family: "Protest Strike", sans-serif;
    margin: 0;
    padding: 0;
    position: center;

}

.container {
    background-image: url("./images/login\ page4.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    
}
.box1
{
    object-position: center;
}
.navbar {
    width: 100%;
   /* background-color: #1c536e; */
   /* background-color: #226e94cf; */
    color: white;
    padding: 10px 0;

}

.navlinks {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 3px;
}

.navlinks li {
    display: inline-block;
    margin-right: 20px;
}

.navlinks li a {
    transition: 0.3s;
    border-radius: 6px;
    padding: 10px;
    /* color: rgb(192, 225, 247); */
    color: #fce1d3;
    text-decoration: none;
}

.navlinks li a:hover {
    background-color: #a86824;
    transition: 0.5s;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}

.heading {

    /* border: solid black; */
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.heading-mark {
    color: #a86824;
    text-shadow: 
      -1px -1px 0 white,  
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white; /* Border effect */
}

.marked-up{
    text-align: center;
    /* background-color: #182e63; */
    /* background-color: #12172e; */
    border-radius:  5%;
    display: inline;
    line-height: 2.5;
}


.form {
    font-family: "Protest Riot", sans-serif;
    display: inline-block;
    text-align: center;
    background-color: #12172e;
    padding: 11%;
    border-radius: 5px;
    opacity: 97%;
}

.form label {
    color: rgb(255, 255, 255);
    display: block;
    /* margin-bottom: 5px; */
    /* background-color: white; */
    padding: 5%;
    border-radius: 5px;
    width: 15vw;
    text-align: left;
}

.form input {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #a86824;
    border-radius: 3px;
}

.form > span{
    color:white;

}

.sign-in-ref{
    text-decoration: underline;
    color: rgb(183, 200, 240)
}

.button {
    color: white;
    background-color: #a86824;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3vh;
    transition: 0.3s;
}

.button:hover{
    transition: 0.5s;
    background-color: #f5a248;
}

.signup-link {
    margin-top: 20px;
    font-size: 0.8rem;
}

.signup-link a {
    color: #333;
    text-decoration: underline;
}
.project
{
    color: rgb(255, 255, 255);
margin-top:10vh;
}

#show-password{
    position: relative;
    /* display: block; */
    left: 6em;
    bottom: 1.5em;
}

/* Tablet mode */
@media (width > 768px) and (width < 800px) {
   
    .container {
      width: 100%;

    }
  }
  
/*Smartphone mode*/
@media (width < 767px) {
    .container {
      width: 100%;
      background-position: center;
    }
    
    .button input{
        width: 100%;
    }

    .navlinks li a{
        padding: 0px;
    }
  }