@import url("./mobile-index.css");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@media  (min-width: 1220px) 
{

 *p {
   font-family: 'Heebo', sans-serif;
   font-weight: 400;
}

  body {
   background-color: rgb(0, 0, 0);
   font-family: "Yanone Kaffeesatz";

   margin: 0;
   padding: 0;
}

.container {
   display: grid;
   grid-template-areas: 
   'box1 box1 box1'
   'box2 box2 box3'
   'box5 box5 box4'
   'box6 box6 box6'
   'box10 box10 box10'
   'box12 box12 box12'
   'box11 box11 box11'
   'footindex footindex footindex';

   margin: 0;
   padding: 0;
   grid-template-columns: 1fr 1fr 1fr;
   row-gap: 10vh;
}


.br {
   display: none;
}

.box1 {
   grid-area: box1;
   background-color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   overflow: hidden;
}

.video {
   width: 100vw;
   height: 60vh;
   object-fit: cover;
   opacity: 100%;
}

.logo {
   top: 0.2vh;
   left: 3px;
   position: fixed;
   z-index: 110;
   opacity: 100%;
   height: 10vh;
}

.navbar {
   overflow: hidden;
   z-index: 200;
   top: 0;
   position: fixed;
   height: 10vh;
   width: 100%;
   padding-right: 55%;
   background-color: #000000;
   
}

.navlinks li {
   float: right;

}

.navlinks {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.navlinks li a {
   color: white;
   display: block;
   text-align: center;
   padding: 2vh 2vw;
   text-decoration: none;
   margin-top: 2vh;
   background-color: #000000;
}

.navlinks li a:hover {
   color: rgb(45, 45, 45);

}

.navlinks img {
   border-radius: 10vh;
   height: 1vh;
}


.box2 {
   grid-area: box2;
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
   margin-left: 10%;
}

.img2 {
   width: 40%;
   height: 90%;
   opacity: 100%;
border-radius: 5%;
margin-top: 5%;

}

.img4 {
   width: 90%;
   height: 100%;
   opacity: 70%;
border-radius: 5%;
margin-left: 5%;
}

.box3 {
   grid-area: box3;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 0, 0);
   height: 100%;
margin-left: -100%;
   color: white;
}

.text {
   font-family: "Yanone Kaffeesatz";
   font-size: 3.5vh;
   text-align: center;
   padding: 0 2vh;
}

.overlay {
   z-index: 100;
}

.wrapper {
   display: inline-block;
   margin: 0 5px;
}

.letter {
   transition: ease-out 2s;
   transform: translateY(70%);
}

.shadow {
   color: #141414;
   transition: ease-in 3s, ease-out 3s;
}

.text:hover .letter {
   transform: translateY(-100%);
}

.text:hover .shadow {
   opacity: 0;
   transform: translateY(100%);
}

.box4 {
   grid-area: box4;
   background-color: rgba(0, 0, 0, 0.713);
   height: 100%;
   width: 100%;
   margin-left: -20%;
}



.box5 {
   grid-area: box5;
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
   margin-left: 23%;
}
.line {
   width: 100%;
   height: 1px;
   background-color: white;
}

.p5h {
   color: #ffffff;
   font-size: 1.5rem;
   letter-spacing: 2px;   
   text-align: right;
   width: 100%;
   margin-top: 10%;

}.p5h1 {
   color: #ffffff;
   font-size: 1.5em;
   letter-spacing: 2px;   
   text-align: right;
   width: 60%;
   margin-top: 10%;

}.p5h2 {
   color: #ffffff;
   font-size: 1.5em;
   letter-spacing: 2px;   
   text-align: left;
   width: 100%;
   margin-top: 10%;

}
.heading-paragraph {
   order: 1;
   text-align: right;
   width: 50%;
   line-height: 1.5;
   margin-right: -10%;
}

.heading-paragraph2 {
   order: 1;
   text-align: right;
   width: 50%;
   line-height: 1.5;
   margin-right: -10%;
}

.heading-paragraph3 {
   order: 1;
   text-align: left;
   width: 50%;
   line-height: 1.5;
   margin-right: -20%;
}
.p5 {
   color: #ffffff;
   font-size: 1.5rem;
   letter-spacing: 2px;
   font-size: 0.9rem;
   margin: 0;
   width: 100%;
}
.p51 {
   color: #ffffff;
   font-size: 1.5rem;
   letter-spacing: 2px;
   font-size: 1rem;
   margin: 0;
   width: 65%;
}
.p10h {
   color: #ffffff;
   font-size: 0.7rem;
   font-weight: bold;
   letter-spacing: 2px;
   font-size: medium;
   width: 60%;
   text-align: right;
   
   
}


.p10 {
   color: #ffffff;
   font-size: 0.5rem;
   font-weight: bold;
   letter-spacing: 2px;
   font-size: medium;
   width: 100%;
   text-align: right;
   margin-top: 0; /* יש לשנות את הערך ל- 0 כדי להוריד את הרווח */
   
}


p{
   margin-right: 40%;
}

.container1 {
   margin: 1rem auto;
   padding: 1rem; 
  
}



.box6 {
   grid-area: box6;
   background-color: rgb(0, 0, 0);
   height: 80%;
   width: 100%;
}

.img6
{
   width: 100%;
   height: 100%;
   opacity: 100%;
   object-fit: fill;
   border-radius: 40%;
}




.box10 {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 15%;
   justify-content: center;
   grid-area: box10;
   font-size: 1rem; /* גודל הטקסט ב box10 יהיה 3% מרוחב המסך */
}

.box11 {
   margin: 0;
   grid-area: box11;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 15%;
   justify-content: center;
   font-size: 1rem; /* גודל הטקסט ב box10 יהיה 3% מרוחב המסך */

}

.divider {
   order: 2;
   width: 100%;
   border-bottom: 1px solid #ffffff; /* צבע קו לבן */
   margin: 2px 0; /* מרווח למעלה ולמטה מהקו */
   
 }

.box12 {
   grid-area: box12;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   gap: 25%;
   justify-content: center;
   font-size: 1rem; /* גודל הטקסט ב box10 יהיה 3% מרוחב המסך */
   margin-right: -1%;

}

.box13 .box14 .box15
{
   height: 80%;
   width: 100%;
   
}

.img13
{
   width: 20%;
   height: 70%;
   opacity: 100%;
   border-radius: 20%;
   margin-top: 6%;
   margin-left: -15%;
}


.img14
{
   width: 20%;
   height: 70%;
   opacity: 100%;
   border-radius: 20%;
   margin-top: 6%;
   margin-left: -15%;
}

.img15
{
   width: 20%;
   height: 70%;
   opacity: 100%;
   border-radius: 20%;
   margin-top: 6%;
   margin-right: -15%;
}

.button5,
.button6,
.buttonvideo {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    height: 5vh;
    margin-left: 40%;
    width: 20%;
    border-radius: 50px;
}
.buttonvideo 
{
}
.button5:hover,
.button6:hover,
.buttonvideo:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-color: black;
}

.button5
{
   margin-top: 5%;
}
.footindex {
   grid-area: footindex;
   background-color: #0a0a0a;
   color: #fff;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: flex-start;
   padding: auto;
}

.footindex div {
   flex: 1;
   margin: 10px;
}

.footindex .footer-logo {
   max-width: 100px;
}

.footindex p {
   margin: 5px 0;
}

.footindex h2 {
   font-size: 1.2em;
   margin-bottom: 10px;
}

.footindex .footer-links {
   list-style-type: none;
   padding: 0;
}

.footindex .footer-links li {
   margin-bottom: 5px;
}

.footindex a {
   color: #fff;
   text-decoration: none;
}

.footindex a:hover {
   text-decoration: underline;
}

#fb, #yt, #tw, #ig {
   max-width: 30px;
   margin-right: 5px;
}
form {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}
.foot4
{
   margin-top: 30%;
}
input[type="email"] {
   padding: 10px;
   border: 2px solid #000;
   border-radius: 5px;
   font-size: 16px;
}

input[type="submit"] {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   background-color: #000;
   color: white;
   cursor: pointer;
}

input[type="submit"]:hover {
   background-color: #333;
}
}

