@import url("./mobile-index.css");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
/*-------------- Arad -------------*/
 *p {
   font-family: 'Heebo', sans-serif;
   font-weight: 400;
}
/*-------------- Arad -------------*/

  body {
   background-color: rgb(0, 0, 0);
   font-family: "Yanone Kaffeesatz";

   margin: 0;
   padding: 0;
}

.container {
   display: grid;
   grid-template-areas: 
   'box1 box1 box1'
   'box2 box2 box3'
   'box5 box5 box4'
   'box6 box6 box6'
   'box10 box10 box10'
   'box12 box12 box12'
   'box11 box11 box11';

   margin: 0;
   padding: 0;
   grid-template-columns: auto;
   row-gap: 10vh;
}

.box1 {
   grid-area: box1;
   background-color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   overflow: hidden;
}

.video {
   width: 100vw;
   height: 60vh;
   object-fit: cover;
   opacity: 100%;
}

.logo {
   top: 0.2vh;
   left: 3px;
   position: fixed;
   z-index: 110;
   opacity: 100%;
   height: 10vh;
}

.navbar {
   overflow: hidden;
   z-index: 200;
   top: 0;
   position: fixed;
   height: 10vh;
   width: 100%;
   padding-right: 55%;
   background-color: #000000;
   
}

.navlinks li {
   float: right;

}

.navlinks {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.navlinks li a {
   color: white;
   display: block;
   text-align: center;
   padding: 2vh 2vw;
   text-decoration: none;
   margin-top: 2vh;
   background-color: #000000;
}

.navlinks li a:hover {
   color: rgb(45, 45, 45);

}

.navlinks img {
   border-radius: 10vh;
   height: 1vh;
}


.box2 {
   grid-area: box2;
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
   margin-left: 10%;
}

.img2 {
   width: 40%;
   height: 90%;
   opacity: 100%;
border-radius: 5%;
margin-top: 5%;

}

.img4 {
   width: 90%;
   height: 100%;
   opacity: 70%;
border-radius: 5%;
margin-left: 5%;
}

.box3 {
   grid-area: box3;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 0, 0);
   height: 100%;
margin-left: -100%;
   color: white;
}

.text {
   font-family: "Yanone Kaffeesatz";
   font-size: 3.5vh;
   text-align: center;
   padding: 0 2vh;
}

.overlay {
   z-index: 100;
}

.wrapper {
   display: inline-block;
   margin: 0 5px;
}

.letter {
   transition: ease-out 2s;
   transform: translateY(70%);
}

.shadow {
   color: #141414;
   transition: ease-in 3s, ease-out 3s;
}

.text:hover .letter {
   transform: translateY(-100%);
}

.text:hover .shadow {
   opacity: 0;
   transform: translateY(100%);
}

.box4 {
   grid-area: box4;
   background-color: rgba(0, 0, 0, 0.713);
   height: 100%;
   width: 100%;
   margin-left: -20%;
}



.box5 {
   grid-area: box5;
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
   margin-left: 23%;
}

.p5h {
   color: #ffffff;
   font-size: 1.5rem;
   letter-spacing: 2px;   
   text-align: right;
   width: 100%;
   margin-top: 10%;

}.p5h1 {
   color: #ffffff;
   font-size: 1.5em;
   letter-spacing: 2px;   
   text-align: right;
   width: 60%;
   margin-top: 10%;

}.p5h2 {
   color: #ffffff;
   font-size: 1.5em;
   letter-spacing: 2px;   
   text-align: left;
   width: 100%;
   margin-top: 10%;

}
/*-------------- Arad -------------*/
.heading-paragraph {
   order: 1;
   text-align: right;
   width: 50%;
   line-height: 1.5;
   margin-right: -10%;
}

.heading-paragraph2 {
   order: 1;
   text-align: right;
   width: 50%;
   line-height: 1.5;
   margin-right: -10%;
}

.heading-paragraph3 {
   order: 1;
   text-align: left;
   width: 50%;
   line-height: 1.5;
   margin-right: -20%;
}
 /*-------------- Arad -------------*/
.p5 {
   color: #ffffff;
   font-size: 1.5rem;
   letter-spacing: 2px;
   font-size: 0.9rem;
   margin: 0;
   width: 100%;
}
.p51 {
   color: #ffffff;
   font-size: 1.5rem;
   letter-spacing: 2px;
   font-size: 1rem;
   margin: 0;
   width: 65%;
}
.p10h {
   color: #ffffff;
   font-size: 0.7rem;
   font-weight: bold;
   letter-spacing: 2px;
   font-size: medium;
   width: 60%;
   text-align: right;
   
   
}


.p10 {
   color: #ffffff;
   font-size: 0.5rem;
   font-weight: bold;
   letter-spacing: 2px;
   font-size: medium;
   width: 100%;
   text-align: right;
   margin-top: 0; /* יש לשנות את הערך ל- 0 כדי להוריד את הרווח */
   
}


p{
   margin-right: 40%;
}

.container1 {
   margin: 1rem auto;
   padding: 1rem; 
   /* text-align: justify;
   transition: all 0.3s;
}

/* .container1 p {
   line-height: 0.5;
   letter-spacing: 0.3px;
   word-spacing: 2px;
   text-align: justify; */
}



.box6 {
   grid-area: box6;
   background-color: rgb(0, 0, 0);
   height: 80%;
   width: 100%;
}

.img6
{
   width: 100%;
   height: 100%;
   opacity: 100%;
   object-fit: fill;
   border-radius: 40%;
}




/*-------------- Arad -------------*/
.box10 {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 15%;
   justify-content: center;
   grid-area: box10;
   font-size: 1rem; /* גודל הטקסט ב box10 יהיה 3% מרוחב המסך */
}

.box11 {
   margin: 0;
   grid-area: box11;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 15%;
   justify-content: center;
   font-size: 1rem; /* גודל הטקסט ב box10 יהיה 3% מרוחב המסך */

}
/*-------------- Arad -------------*/

.divider {
   order: 2;
   width: 100%;
   border-bottom: 1px solid #ffffff; /* צבע קו לבן */
   margin: 2px 0; /* מרווח למעלה ולמטה מהקו */
   
 }

 /*-------------- Arad -------------*/
.box12 {
   grid-area: box12;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   gap: 25%;
   justify-content: center;
   font-size: 1rem; /* גודל הטקסט ב box10 יהיה 3% מרוחב המסך */
   margin-right: -1%;

}
/*-------------- Arad -------------*/

.box13 .box14 .box15
{
   height: 80%;
   width: 100%;
   
}

/*-------------- Arad -------------*/
.img13
{
   width: 20%;
   height: 70%;
   opacity: 100%;
   border-radius: 20%;
   margin-top: 6%;
   margin-left: -15%;
}

/*-------------- Arad -------------*/

.img14
{
   width: 20%;
   height: 70%;
   opacity: 100%;
   border-radius: 20%;
   margin-top: 6%;
   margin-left: -15%;
}

.img15
{
   width: 20%;
   height: 70%;
   opacity: 100%;
   border-radius: 20%;
   margin-top: 6%;
   margin-right: -15%;
}

.button5,
.button6,
.buttonvideo {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    height: 5vh;
    margin-left: 40%;
    width: 20%;
    border-radius: 50px;
}
.buttonvideo 
{
}
.button5:hover,
.button6:hover,
.buttonvideo:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-color: black;
}

.button5
{
   margin-top: 5%;
}



/*------------------- MOBILE ----------*/
@media  (max-width: 650px) 
{
   @import url("./mobile-index.css");
  
  body {
   background-color: rgb(0, 0, 0);
   margin: 0;
   padding: 0;
}

.container {
   display: grid;
   grid-template-areas: 
       'box1 box1 box1'
       'box2 box3 box3'
       'box4 box5 box5'
       'box6 box6 box6'
       'box10 box10 box10'
       'box12 box12 box12'
       'box11 box11 box11'
       'box13 box14 box15';
   margin: 0;
   padding: 0;
   grid-template-columns: auto;
   row-gap: 10vh;
}


/*-------------- Arad -------------*/
.img13 {
   object-fit: cover;
}
/*-------------- Arad -------------*/


.box1 {
   grid-area: box1;
   background-color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   overflow: hidden;
}

.video {
   width: 100vw;
   height: 60vh;
   object-fit: cover;
   opacity: 100%;
}

.logo {
   top: 1vh;
   left: 3px;
   position: fixed;
   z-index: 110;
   opacity: 90%;
   height: 6vh;
}

.navbar {
   overflow: hidden;
   z-index: 200;
   top: 0;
   position: fixed;
   height: 8vh;
   width: 100%;
   padding-right: 22%;
   font-size: xx-small;
}

.navlinks li {
   float: right;
}

.navlinks {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.navlinks li a {
   font-family: 'Protest Strike', sans-serif;
   color: white;
   display: block;
   text-align: center;
   padding: 2vh 2vw;
   text-decoration: none;
   margin-top: 1vh;
}

.navlinks li a:hover {
   color: rgb(5, 5, 5);
   background: #fdfcfb;
   border-radius: 0%;
   margin-top:1vh ;
   height: 1.5vh;

}

.navlinks img {
   border-radius: 10vh;
   height: 2vh;
}

.box2 {
   grid-area: box2;
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
   margin-left: 10%;
}

.img2 {
   width: 90%;
   height: 100%;
   opacity: 100%;
border-radius: 10%;

}

.img4 {
   width: 100%;
   height: 100%;
   opacity: 100%;
border-radius: 10%;
z-index: 100;
}
.box3 {
   grid-area: box3;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 0, 0);
   height: 100%;

   color: white;
}

.text {
   font-family: "Yanone Kaffeesatz";
   font-size: 0.rem;
}

.overlay {
   z-index: 100;
}

.wrapper {
   display: inline-block;
   margin: 0 5px;
}

.letter {
   transition: ease-out 1s;
   transform: translateY(40%);
}

.shadow {
   color: #141414;
   transition: ease-in 3s, ease-out 3s;
}

.text:hover .letter {
   transform: translateY(-200%);
}

.text:hover .shadow {
   opacity: 0;
   transform: translateY(200%);
}

.box4 {
   grid-area: box4;
   background-color: rgba(0, 0, 0, 0.713);
   height: 100%;
   width: 100%;
   margin-left: 10%;
   margin-top: 7vh;
}

.box4P {
   color: #ffffff;
   font-size: 1rem;
}
   
   body {
   background-color: rgb(0, 0, 0);
   font-family: "Yanone Kaffeesatz";
   margin: 0;
   padding: 0;
   }
   
   .container {
      display: grid;
      grid-template-areas: 
      'box1 box1 box1'
      'box2 box2 box3'
      'box5 box5 box4'
      'box6 box6 box6'
      'box10 box10 box10'
      'box12 box12 box12'
      'box11 box11 box11';
   
      margin: 0;
      padding: 0;
      grid-template-columns: auto;
      row-gap: 10vh;
   }

   /*-------------- Arad -------------*/
   .box1 {
      grid-area: box1;
      background-color: rgb(0, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      overflow: hidden;
   }
   /*-------------- Arad -------------*/

   .video {
      width: 100%;
      height: 30vh;
      object-fit: cover;
      opacity: 100%;
   }
   
   .logo {
      top: 1.6vh;
      left: 3px;

      z-index: 110;
      opacity: 100%;
      height: 3vh;
   }
   
   .navbar {
      overflow: hidden;
      z-index: 200;
      top: 0;
      position: fixed;
      height: 10%;
      width: 100%;
      padding-right: 30%;
      background-color: #000000;
      font-size: x-small;
      
   }
   
   .navlinks li {
      float: right;
   
   }
   
   .navlinks {
      list-style-type: none;
      margin: 0;
      padding: 0;
   }
   
   .navlinks li a {
      color: white;
      display: block;
      text-align: center;
      padding: 2vh 2vw;
      text-decoration: none;
      margin-top: 2vh;
      background-color: #000000;
   }
   
   .navlinks li a:hover {
      color: rgb(45, 45, 45);
   
   }
   
   .navlinks img {
      border-radius: 10vh;
      height: 1vh;
   }
   
   
   .box2 {
      grid-area: box2;
      background-color: rgb(0, 0, 0);
      height: 100%;
      width: 100%;
      margin-left: 10%;
   }
   
   .img2 {
      width: 40%;
      height: 100%;
      opacity: 100%;
   border-radius: 5%;
   margin-top: 5%;
   z-index: 100;

   
   }
   
   .img4 {
      width: 100%;
      height: 60%;
      opacity: 100%;
   border-radius: 5%;
   margin-top: 5%;
   z-index: 100;
   }


   /*-------------- Arad -------------*/
   .box3 {
      grid-area: box3;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(0, 0, 0);
      height: 100%;
   margin-left: -100%;
      color: white;
   }
   /*-------------- Arad -------------*/
   .box5 {
      grid-area: box5;
      background-color: rgb(0, 0, 0);
      height: 100%;
      width: 100%;
      margin-right: -10%;
      grid-auto-columns: 10%;
   }
   .text {
      font-family: "Yanone Kaffeesatz";
      font-size: 1.5vh;
      text-align: center;
   }
   

.p5h {
   color: #ffffff;
   font-size: 1.5rem;
   letter-spacing: 2px;   
   text-align: right;
   width: 130%;
   margin-top: 10%;
   margin-left: -20%;

}.p5h1 {
   color: #ffffff;
   font-size: 1rem;
   letter-spacing: 2px;   
   text-align: right;
   width: 100%;
   margin-top:40%;
   margin-left: -20%;

}.p5h2 {
   color: #ffffff;
   font-size: 0.5rem;
   letter-spacing: 2px;   
   text-align: left;
   width: 100%;
   margin-top: 10%;

}
/*-------------- Arad -------------*/
.heading-paragraph {
   order: 1;
   text-align: right;
   width: 100%;
   line-height: 0.5;
   margin-right: -10%;
}

.heading-paragraph2 {
   order: 1;
   text-align: right;
   width: 100%;
   line-height: 0.5;
   margin-right: -10%;
}

.heading-paragraph3 {
   order: 1;
   text-align: left;
   width: 100%;
   line-height: 0.5;
   margin-right: -20%;
}
 /*-------------- Arad -------------*/
.p5 {
   color: #ffffff;
   font-size: 0.3rem;
   letter-spacing: 2px;
   margin: 0;
   width: 100%;
   height: 30%;
}
.p51 {
   color: #ffffff;
   font-size: 0.5rem;
   letter-spacing: 2px;
   margin: 0;
   width: 65%;
   margin-left: -20%;
   
}
.p10h {
   color: #ffffff;
   font-size: 0.3rem;
   font-weight: bold;
   letter-spacing: 2px;
   font-size: medium;
   width: 100%;
   text-align: right;
   
   
}


.p10 {
   color: #ffffff;
   font-size: 0.5rem;
   font-weight: bold;
   letter-spacing: 2px;
   font-size: medium;
   width: 100%;
   text-align: right;
   margin-top: 0; /* יש לשנות את הערך ל- 0 כדי להוריד את הרווח */
   
}


p{
   margin-right: 40%;
}

   .overlay {
      z-index: 10;
   }
   
   .wrapper {
      display: inline-block;
      margin: 0 5px;
   }
   
   .letter {
      transition: ease-out 2s;
      transform: translateY(70%);
      z-index: 10;

   }
   
   .shadow {
      color: #141414;
      transition: ease-in 3s, ease-out 3s;
      z-index: 10;
      
   }
   
   .text:hover .letter {
      transform: translateY(-100%);
      z-index: 10;
   }

/*-------------- Arad -------------*/

.heading-paragraph {
   align-content: flex-start;
   order: 1;
   text-align: right;
   width: 55%;
   line-height: 1.5;
   font-size: xx-small

}

.heading-paragraph2 {
   align-content: flex-start;
   order: 1;
   text-align: left;
   width: 55%;
   line-height: 1.5;
   font-size: xx-small

}

.heading-paragraph3 {
   order: 1;
   text-align: left;
   width: 50%;
   line-height: 1.5;
   font-size: xx-small
}

/*-------------- Arad -------------*/

body hr {
   width: 5vw;
   border: none;
   border-bottom: 1px solid rgba(0, 0, 0, 0.25);
} 

.container1 {
font-size: 0.4rem;
 
   text-align: justify;
   transition: all 0.3s;
}

.container1 p {
   text-align: justify;
   font-size: 0.5rem;
   width: 100%;
}




.box6 {
   grid-area: box6;
   background-color: rgb(0, 0, 0);
   height: 80%;
   width: 100%;
}

.img6
{
   width: 100%;
   height: 100%;
   opacity: 100%;
   object-fit: fill;
   border-radius: 20%;
}


/*-------------- Arad -------------*/
.box10 {
   grid-area: box10;
   background-color: rgb(0, 0, 0);
   font-size: 1rem; /* גודל הטקסט ב box10 יהיה 3% מרוחב המסך */
   width: 100%;
   margin: 0;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
   
   


}
/*-------------- Arad -------------*/

.box11 {
   grid-area: box11;
   background-color: rgb(0, 0, 0);
   font-size: 1rem; /* גודל הטקסט ב box11 יהיה 3% מרוחב המסך */
   height: 100%;
   width: 80%;
   margin-left: 10%;



}

.box12 {
   grid-area: box12;
   background-color: rgb(0, 0, 0);
   font-size: 1rem; /* גודל הטקסט ב box12 יהיה 3% מרוחב המסך */
   height: 100%;
   width: 100%;
margin-right: -10%;
}

.img2, .img4, .img6 {
   max-width: 100%;
   height: auto;
}

.p5
{
   font-size: 0.7rem;

}

.button5

{
   color: rgb(255, 255, 255);
    border: 0.4px solid rgb(255, 255, 255);
    background-color: transparent;
   cursor: pointer;
   font-size: 0.7rem;
   height: 4.5vh;
   margin-left: 26%;
   border-radius: 10%;
   width: 55%;


}

.button6,
.buttonvideo 
{
   color: rgb(255, 255, 255);
    border: 0.4px solid rgb(255, 255, 255);
    background-color: transparent;
   cursor: pointer;
   font-size: 0.7rem;
   height: 5vh;
   margin-left: 35%;
   border-radius: 10%;
   width: 30%;
}

.button:hover,
.button5:hover,
.button6:hover,
.buttonvideo:hover {
   color: #000000;
    background-color: rgb(255, 255, 255);
    border-color: black;
}

.box10 .box11 .box12
{
   height: 80%;
   width: 80%;
   
}

/*-------------- Arad -------------*/
.img13
{
   width: 20%;
   height: 12vh;
   opacity: 100%;
   border-radius: 20%;
   margin-left: -95%;
   object-fit: cover;
}

/*-------------- Arad -------------*/

.img14
{
   height: 12vh;
   opacity: 100%;
   border-radius: 20%;
   margin-top: 42%;
   object-fit: cover;
   margin-left: -15%;
}

.img15
{
   width: 22%;
   height: 30%;
   opacity: 100%;
   border-radius: 20%;
   margin-top: 32%;
   object-fit: cover;


}

.box10
{
   width: 90%;
   margin-left: -10%;
}
.box11
{
   width: 90%;
   margin-left: 5%;



}
.box12
{
   margin-left:0%;
   width: 90%;
   

}
}

.container
{
   padding-left: -0;
   padding-right: -0;
}
.project
{
   color: #fdfcfb;
   font-size: 0.5rem;
   width: 100%;
   text-align: center;
   margin-top: 10%;
}

.navlinks li a {
   position: relative;
}

.navlinks li a::after {
   content: "";
   position: absolute;
   bottom: -1px;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: white;
   visibility: hidden;
   transform: scaleX(0);
   transition: all 0.3s ease-in-out 0s;
}

.navlinks li a:hover::after {
   visibility: visible;
   transform: scaleX(1);
}



.navlinks li a:hover {
   color: rgb(93, 92, 92);
}
.text {
   position: relative;
}

.text::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   z-index: -1;
}

.text::after {
   content: attr(data-content);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   color: white;
   z-index: 0;
   mix-blend-mode: difference;
}
.img2:hover {
   transform: scale(1.1);
   transition: transform 0.5s;
}

.img4:hover {
   transform: scale(1.1);
   transition: transform 0.5s;
}

.img:hover {
   transform: scale(1.1);
   transition: transform 0.5s;
}
