/* ללא הגדרות רזולוציה */
@media (max-width: 767px){
   /*--------------- Shop Page ----------------*/
   #shop-navbar {
      grid-row: 1;
      grid-column: span 2;
      height: 20vh;
      background-color: #f1c698;
   }

   #shop-container {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-template-rows: 0.2fr 0.8fr 1fr 1fr 1fr 1fr;
      gap: 10px;
   }

   #shop-navbar > .navlinks {
      height: 20vh;
      display: flex;
      flex-wrap: wrap;
      row-gap: 13px;
      justify-content: center;
      /* align-content: center; */
      font-size: 1.5em;
   }

   .box0 {
      grid-column: span 2;
      margin-bottom: 2px;
   }

   .video {
      height: 60vh;
   }

   /*---------------- Home Page ----------------*/
   #index-container {
      background-color: black;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.15fr 0.5fr 0.3fr 0.2fr 1fr;
      gap: 13px;
      grid-auto-columns: 0px;
      grid-auto-rows: 0px;
   }

   #index-navbar {
      grid-column: span 2;
      flex-wrap: wrap;
      min-width: 380px;
      min-height: 18vh;
      justify-content: center;
   }

   #index-navlinks {
      min-width: 380px;
      min-height: 15vh;
      font-size: 1em;
      display: flex;
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
   }

   .logo {
      grid-column: 1;
      grid-row: 2;
      height: 4.5vh;
   }

   .index-box2 {
      min-height: 15vh;
      grid-column: 1;
      grid-row: 2;
      min-width: 250px;
      justify-content: center;
   }

   .index-box3 {
      min-width: 160px;
      grid-column: span 2;
      grid-row: 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }

   .index-box3 .text{
      margin-left: 15px;
      font-size: 1.5em;
      /* display: flex; */
      background-color: rgb(0, 0, 0);
      color: white;
   }

   .index-box4 {
      grid-row: 3;
   }  
   
   .img4 {
      max-width: 100%;
      max-height: 100vh;
   }

   .index-box5 {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      grid-column: 2;
      align-items: flex-start;
      /* margin-top: 70px; */
      justify-content: center;
      align-items: center;
      gap: 30px;
   }

   .index-box5 .p5h {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      color: white;
      grid-column: 2;
      font-size: 1.6em;
   }

   .p5 {
      line-height: 1.5;
      text-align: justify;
      font-size: 0.7rem;
      color: white;
   }

   .box6 {
      /* display: flex; */
      /* justify-content: center;
      align-items: center; */
      grid-row: 4;
      grid-column: span 2;
   }

   .box10 {
      grid-row: 5;
      background-color: rgb(0, 0, 0);
      font-size: 1em; 
      max-height: 100%;
   }

   .box11 {
      grid-row: 6;
      grid-column: span 2;
   }

   .box12 {
      grid-row: 5;
      grid-column: 2;
   }

   .img2 {
      display: none;
      grid-row: 2;
      object-fit: contain;
      max-width: 180px;
      max-height: 100vh;
      border-radius: 10px;
      /* opacity: 60%; */
   }
   .index-video {
      overflow: hidden;
      display: none;
      grid-row: 1;
      width: 100%;
      height: 20vh;
   }

   .video-header {
      overflow: hidden;
      display: none;
      width: 100%;
      grid-column: span 2;
   }
   

/*---------------- Sign in Page ---------*/
#sign-in-form {
   margin-top: 2rem;
}
/* .project > p {
   margin-top: 5rem;
} */
#form-item {
   max-width: 20rem;
 }
}
