@media (max-width: 767px) {

#shop-container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 10px;
  }

.shop-nav-vid {
  grid-column: span 2;

}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50vh;
  background-color: #053C5C;
  grid-column: span 2;
}


.foot-logo-info > p {
  font-weight: 200;
  font-size: large;
  line-height: 2;
  color: white;
}

.foot-section-2 {
  height: 36.8vh;
  font-size: large;
  padding: 60px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.foot-section-3 {

  height: 40%;
  font-size: large;
  padding: 60px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.foot-section-3 > a {
  color: white;
  text-decoration: none;
  font-weight: 200;

}

.foot-section-4 {
  height: 60%;
  width: 20%;
  font-size: large;
  padding: 30px 20px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.foot-section-4 > h2 {
  margin-top: 12px;
  align-self: center;
  height: 15%;
}

.footer-links > li a {
  line-height: 2;
  font-weight: 200;
  color: white;
  text-decoration: none;
}

.footer-logo {
  height: 25vh;
}

.foot-logo-info {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#fb, #yt, #tw, #ig {
  align-self: center;
  filter: invert(100%);
  height: 5vh;
}
  
  #shop-navbar {
    height: 10vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    top: 5vh;
    left: 3px;
    position: fixed;
    z-index: 110;
    opacity: 90%;
    height: 100%;
    width: 10%;
 }

  .video { 

  }

  .video-heading{
    font-size: 1.5em;
    margin-top: 10%;
  }
  
  .vheading-marked-up{
     color: #f5a248;
  }
/*   
  #shop-navbar:hover{
     transition: 0.5s;
     background-color: #f1c698;
  } */
  
  #shop-navbar > .navlinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-height: 10vh;
    gap: 15px;
  }

  #shop-navbar > .navlinks a {
    list-style-type: none;
    font-size: 1em;
    padding: 10px;

  }
  
  .navlinks li a {
     padding: 25px 23px;
     color: #a86824;
     font-size: 2em;
     text-decoration: none;
     transition: 0.5s;
  }
  
  .navlinks li a:hover{
     /* color:#301e17; */
     transition: 0.5s;
     /* background-color: #a86824; */
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
     border: 1px solid #000;
     border-radius: 5px;
     padding: 15px 10px;
     text-align: center;
     background-color: #8b6b48;
     box-shadow: 0px 3px 5px black;
  }


  .product-image {
     max-height: 3vh;
     background-size: cover;
     background-position: center;
     margin-bottom: 10px;
  }
  
  /* .box1
  {
     grid-area: box1;
  } */
  
  .imgbox1
  {
     grid-area: box1;
     pointer-events: all;
     height: 20vh;
  }
  
  .product-info button {
   background-color: #fbecca;
   color: #494239;
     border: none;
     padding: 19px 10px;
     border-radius: 3px;
     cursor: pointer;
     margin-top: 10px; /*Add some space between the buttons*/
  }
  
   .product-info button img {
     width: 100%; /*Set the size of the icon */
     height: 3vh;
     vertical-align: middle; /* Align the icon vertically */
     margin-right: 0px; /*Add some space between the icon and text*/
  }
  

  
  .product-info button:hover{
     background-color: #f0c350;
  }
  
  .product-info {
    max-width: 15rem;
    font-size: 1.2em;
    line-height: 1.5;
  }

  .product-info > p, h3 {
    /* max-width: 15rem; */
    text-align: left;
  }
  
  
  .buybutton
  {
     background-color: #ffffff;
     color: black;
     border-radius: 5px;
     cursor: pointer;
     
  }

 #add-cart img {
    height: 20px;
  }

#favorite-item img {
    height: 20px;
  }
}

@media (min-width: 552px) and (max-width: 767px) {
  .shop-nav-vid {
        grid-column: span 2;
    }

    .box0 {
        grid-column: span 2;
    }

    #shop-navbar > .navlinks a {
        list-style-type: none;
        padding: 13px;
        font-size: 1.2rem;
      }
}