@import url("reset.css");
@import url("mobile.css");
@import url("tablet.css");
@import url("laptop.css");
@import url("laptop_L.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Protest+Riot&family=Protest+Strike&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');


   body {
      font-family: 'Heebo', sans-serif;
      background: white;
   }
   
    /* #shop-container {
     display: grid;  
      grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr)); 
       width: 80%; 
       margin: 0 auto; 
      grid-template-areas:
      "navbar navbar navbar"
         "box0 box0 box0"
         "header header header" 
         "box1 box2 box3"
         "box4 box5 box6"
         "box7 box8 box9"
         "box10 box11 box12";
      gap: 20px; 
}  */

   .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 50vh;
      background-color: #053C5C;
      grid-column: span 3;
   }

   .foot-logo-info > p {
      font-weight: 200;
      line-height: 2;
      color: white;
   }

   .foot-section-2 {
      height: 52%;
      font-size: large;
      padding: 60px 0;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .foot-section-3 {
      height: 17.5%;
      font-size: large;
      padding: 60px 0;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .foot-section-3 > a {
      color: white;
      text-decoration: none;
      font-weight: 200;

   }

   .foot-section-4 {
      height: 30%;
      width: 18%;
      justify-content: center;
      font-size: large;
      padding: 30px 20px;
      color: white;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .foot-section-4 > h2 {
      margin-top: 12px;
      align-self: center;
      height: 15%;
   }

   .footer-links > li a {
      line-height: 2;
      font-weight: 200;
      color: white;
      text-decoration: none;
   }

   .footer-logo {
      height: 25vh;
   }

   .foot-logo-info {
      grid-column: 1;
   }

   #fb, #yt, #tw, #ig {
      align-self: center;
      filter: invert(100%);
      height: 5vh;
   }

   .logo {
      top: 1.6vh;
      left: 3px;
      position: fixed;
      overflow: hidden;
      z-index: 110;
      opacity: 100%;
      height: 5vh;
   }

 
   .video {
      /* height: 90%; */
      width: 100%;
      opacity: 100%;
      object-fit: cover; 
   }
   
   .video-heading {
      font-weight: 700;
      color: black;
      text-align: center;
      /* font-size: 2em; */
      /* margin-top: 15%; */
   }
   
   .vheading-marked-up{
      color: rgb(0, 0, 0);
   }
   
   #shop-navbar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-weight: 400;
      background-color: black;
      text-align: center;
      padding: 2%;
      z-index: 1000;
   }
   
   .navlinks {
      display: flex;
      gap: 50px;
      list-style-type: none;
      margin: 0;
      padding: 0;
   }
   
   .navlinks li a {
      padding: 25px 23px;
      color: #f7e8d8;
      font-size: 1em;
      text-decoration: none;
      transition: 0.5s;
      background: linear-gradient(to right, white, white);
      background-size: 0% 3px;
      background-repeat: no-repeat;
      background-position: center bottom;
   }
   
   .navlinks li a:hover
   {
      font-weight: 900;
      background-size: 100% 3px;
      /* color:#181514; */
      transition: ease 0.5s;
      /* background-color: #f8eee3; */
   }
   
   .box {
      border: 1px solid #000;
      border-radius: 5px;
      background: transparent;
      box-shadow: 0px -3px 7px 2px rgb(141, 131, 130);
   }
   
   .product-image {
      height: 5vh;
      background-image: url('whiskey.jpg');
      background-size: cover;
      background-position: center;
      margin-bottom: 10px;
   }
   

   
   .imgbox1
   {
      grid-area: box1;
      pointer-events: all;
      height: 23vh;
   }
   
   .product-info button {
      border: none;
      padding: 19px 10px;
      border-radius: 3px;
      cursor: pointer;
      margin-top: 10px; /*Add some space between the buttons*/
   }
   
    .product-info button img {
      width: 100%; /*Set the size of the icon */
      height: 10vh;
      vertical-align: middle; /* Align the icon vertically */
      margin-right: 0px; /*Add some space between the icon and text*/
   }
   
   .product-info button{
      font-weight: 600;
      background-color: transparent;
      color: #494239;
      border: 2px solid #000000;
      padding: 5px;
      border-radius: 3px;
      cursor: pointer;
   }
   
   .product-info button:hover{
      transition: ease 0.2s;
      color: white;
      background-color: #000000;
   }
   
   .product-info {
      color: #000;
      font-weight: 500;
      /* font-size: 1.2em; */
      line-height: 1.3;
   }

   #buy-buttons {
      display: flex;
      /* justify-content: center; */
      gap: 10px;
   }
   
   
   .buybutton
   {
      order: 3;
      width: 10rem;
      background-color: #ffffff;
      font-size: medium;
      /* padding: 5px 29px; */
      border-radius: 5px;
      cursor: pointer;
      /* margin-right: 5px; */
      
   }
   
   #add-cart {
      order: 2;
      width: 30%;
   }

   #add-cart > img {
      height: auto;
   }

   #add-cart > img:hover {filter: invert(100%); }

   #favorite-item {
      order: 3;
      width: 30%;
   }

   #favorite-item > img {
      height: auto;
   }

   #favorite-item > img:hover {filter: invert(100%);}
   
   @media (min-width: 2560px) {

      .video-heading {
         font-size: 3em;
         margin-top: 10%
      }

      .shop-nav-vid {
         grid-column: span 3;
      }

      #shop-container {
         display: grid;  
         grid-template-columns: repeat(auto-fit, minmax(min(40rem, 100%), 3fr));
         padding: 0px 30px;
         gap: 60px;
         
   }
   .buybutton {
      height: 80%;
      width: 50%;
      font-size: 1em;}

   #buy-buttons {
      display: flex;
      justify-content: center;
      gap: 10px;
      padding-bottom: 20px;
      align-items: center;
      height: 70px;
   }
   
   .product-info {
      color: #000;
      font-weight: 500;
      font-size: 2em;
      line-height: 1.3;
      padding: 0 50px;
   }

   #shop-navbar > .navlinks a {
      font-size: 3em;
      padding: 25px;
   }

   #add-cart {
      order: 2;
      width: 12%;
   }

   #add-cart > img {
      width: 60%;
      height: auto;
   }

   #add-cart > img:hover {filter: invert(100%); }

   #favorite-item {
      order: 3;
      width: 12%;
   }

   #favorite-item > img {
      width: 60%;
      height: auto;
   }

   .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
   }
}

@media (width: 1368px) {
   .shop-nav-vid {
      height: 90vh;
   }
}