@import url(./about-tablet.css);
@import url(./about-mobile.css);
@media  (min-width: 1100px) and (max-width: 2560px)
{


  body {
   background-color: rgb(0, 0, 0);
   margin: 0;
   padding: 0;
}

.br
{
   display: none;
}
.container {
   display: grid;
   grid-template-areas: 
   'box1 box1 box1 box1'
   'box5 box5 box2 box2'
   'box4 box4 box3 box3'
   'box6 box6 box6 box6'
   'footindex footindex footindex footindex';

   margin: 0;
   padding: 0;
   row-gap: 20vh;
}

.box1 {
   grid-area: box1;
}

.video {
   width: 100%;
   height: 100;
   opacity: 70%;
   object-fit: fill;
}

.logo {
   top: 1vh;
   left: 3px;
   position: fixed;
   z-index: 110;
   opacity: 90%;
   height: 6vh;
}

.navbar {
   overflow: hidden;
   z-index: 200;
   top: 0;
   position: fixed;
   height: 10vh;
   width: 100%;
   background-color: #000000;
   font-size: 1rem;
   display: flex;
   justify-content: center; 
}

.navlinks li {
   float: right;
}

.navlinks {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.navlinks li a {

   color: white;
   display: block;
   text-align: center;
   padding: 2vh 2vw;
   text-decoration: none;
   margin-top: 1vh;
}

.navlinks li a:hover {
   color: rgb(255, 255, 255);
   border-radius: 0%;
   margin-top:1vh ;
   height: 1.5vh;

}

.navlinks img {
   border-radius: 10vh;
   height: 1vh;
}


.box2 {
   grid-area: box2;
  
}

.img2 {

width: auto;
height: auto;
border-radius: 40px;
margin-left: 20%;

}
.p10
{
   color: white;
   font-size: 1rem;
   letter-spacing: 2px;
   padding: 0 10%;
 
}
.pp10
{
   color: white;
   font-size: 1rem;
   letter-spacing: 2px;
   font-size: 1rem;

}
.img4 {
   height: auto;
   width: 30vw;
   border-radius: 40px;
}
.box3 {
   grid-area: box3;
 width: 80%;
   color: rgb(0, 0, 0);
   margin-top: 14%;
}


.box4 {
   grid-area: box4;
margin: 15%;  
}



.box5 {
   grid-area: box5;
width:80%;
margin-top: 10%;
margin-left: 25%;
}


.box6 {
   grid-area: box6;
   height: 60vh;
   width: 100%;
   padding: 0;
}

.img6
{
   width: 100%;
   height: 50vh;
   opacity: 70%;
   object-fit:cover; 

}
.project
{
   color: #ffffff;
   font-size: 1.7rem;
   width: 100%;
   text-align: center;
   margin-top: 10%;
}

.navlinks li a {
   position: relative;
}

.navlinks li a::after {
   content: "";
   position: absolute;
   bottom: -1px;
   left: 0;
   width: 100%;
   height: 1px;
   visibility: hidden;
   transform: scaleX(0);
   transition: all 0.3s ease-in-out 0s;
}

.navlinks li a:hover::after {
   visibility: visible;
   transform: scaleX(1);
}

.navlinks li a {
   transition: all 0.3s;
}

.navlinks li a:hover {
   color: rgb(45, 45, 45);

}
.text {
   position: relative;
}





.img2:hover {
   transform: scale(1.1);
   transition: transform 0.5s;
}

.img4:hover {
   transform: scale(1.1);
   transition: transform 0.5s;
}

.img:hover {
   transform: scale(1.1);
   transition: transform 0.5s;
}
.footindex {
   grid-area: footindex;
   
      display: flex;
      justify-content: space-around;
      color: #fff;
      padding: 10px;
      flex-wrap: wrap;
   }
   
   .footer-item {
      flex: 1;
      margin: 10%;
      
   }
   .footer-item form {
      margin-top: 10px;
   }
   
   .footer-item input[type="email"] {
      padding: 10px;
      border: 2px solid #000;
      border-radius: 5px;
      font-size: 16px;
      width: 200px;
      margin-right: 10px;
   }
   
   .footer-item input[type="submit"] {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      background-color: #000;
      color: white;
      cursor: pointer;
   }
   
   .footer-item input[type="submit"]:hover {
      background-color: #333;
   }
   
   .footer-links {
      padding-left: 0;
   }
   
   .footer-links li {
      list-style-type: none;
      margin-bottom: 5px;
   }
   
   .footer-links a {
      color: #fff;
      text-decoration: none;
   }
   
   .footer-links a:hover {
      text-decoration: underline;
   }

.navbar a {
   position: relative;
   text-decoration: none;
   color: rgb(255, 255, 255);
 }
 
 .navbar a::after {
   content: '';
   display: block;
   width: 0;
   height: 1px;
   margin-top: 1px;
   background: rgb(255, 255, 255);
   transition: width 0.1s;
 }
 
 .navbar a:hover::after {
   width: 100%;
 }
   
 .about {
   margin-left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 2rem;
   z-index: 1;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 10px 20px;
}
 .line {
   width: 100%;
   height: 1px;
   z-index: 100;
   background-color: white;
   animation: wave 2s infinite alternate;
}
   
   .box5 {
      grid-area: box5;
   
      height: 100%;
      width: 80%;
      margin-left: 8%
   
   }
   
   .p5h {
      color: rgb(255, 255, 255);
      text-align: center;
      width: 100%;
   
     
   }
   
   .p56 {
   color: #ffffff;
   z-index: 100;
   width: 20%;
   text-align: right;
   }
   
   
}

