@import url("./vars.css");

/*---------------- MOBILE --------------*/
@media screen and (max-width: 569px) {

  .form-control
  {
     width: 500px;
   gap: 10%;
  }

  button {
    font-size: var(--fs-buttons);
    transition: 0.6s;
 }

 button:hover {
  font-weight: var(--font-weight-bold);
  transition: 0.6s;
 }
 
.buttonvideo {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    height: 4vh;
    width: 30%;
    border-radius: 50px;
}


.buttonvideo:hover {
    color: #000000;
    background-color: white;
    border-color: black;
}


   .direct-contact-container,
   .form-wrapper {
     float: none;
     margin: 0 auto;
   }
   .form-control,
   textarea {
     margin: 0 auto;
   }
   .name,
   .email,
   textarea {
     width: 280px;
   }
   .direct-contact-container {
     margin-top: 60px;
     max-width: 280px;
   }
   .social-media-list {
     left: 0;
   }
   .social-media-list li {
     height: 55px;
     width: 55px;
     line-height: 55px;
     font-size: 2rem;
   }
   .social-media-list li:after {
     width: 55px;
     height: 55px;
     line-height: 55px;
   }

   .continer
   {
     display: grid;
  
     grid-template-areas: 
     'box1 box1 box1 box1'
     'contact contact contact contact';
   }

   .logo {
    height: 10vh;
    width: 19%;
    margin-left: 7%;
    margin-top: -4%;
 }

   #contact {
      grid-area: contact;
   
      width: 100%;
      height: 100%;
      margin-top: 10%;
    }

  .hamburger {
   position: fixed;
   right: 10px; /* כמה פיקסלים מהצד הימני של הדף */
   padding: 11px 13px;
   font-size: 35px;
   cursor: pointer;
   color: white;
}


.menu {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);

}

.menu ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.menu ul li {
   text-align: center;
   margin-bottom: 20px;

}

.menu ul li a {
  margin-top: 0;
   text-decoration: none;
   color: white;
   font-size: calc(var(--fs-mobile-menu) + 0.5em);

}
 
.menu-toggle:checked + .hamburger {
  background-color: transparent;
  display: none;
}

.navbar input {
  appearance: none;
}

.menu-toggle:checked + .hamburger + .menu {
  display: block;
}

#menu-close:checked{
  display: none;
}

.close-menu {
  position: absolute;
  padding: 11px 16px;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  z-index: 2;
}

.menu ul::before { 
  display: none; /* ערך הגנרי להסתרת התפריט */
  visibility: hidden; /* כדי שלא יתפרטס התפריט */
}

.menu-toggle:checked + .hamburger + .menu ul {
  display: block; /* הצגת התפריט כאשר ההמבורגר פתוח */
  visibility: visible;
}

.footer-item
{
  width: 100vw;
}

.navlinks
{
  display: none;
}

.nonmobile
{
  display: none;
  color: white;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* הסתרת רשימת הקישורים */
}

.menu-toggle:checked + .hamburger + .menu ul {
  display: flex; /* הצגת רשימת הקישורים כאשר ההמבורגר פתוח */
  flex-direction: column;
}

.menu-toggle::after + .hamburger + .menu ul 
{
  display: none;
}

.menu-toggle
{
  display: none;
}

.form-control
{
   width: 200px;
}

}

 /*---------------- MOBILE / SMALL TABLET --------------*/
 @media screen and (max-width: 850px) {
  .navbar {
    display: flex;
    justify-content: center;
    margin-right: -50%;
    font-size: 0.7rem;
  }
   .contact-wrapper {
     display: flex;
     flex-direction: column;
   }
   .direct-contact-container,
   .form-horizontal {
     margin: 0 auto;
   }
   .direct-contact-container {
     margin-top: 60px;
     max-width: 300px;
   }
   .social-media-list li {
     height: 60px;
     width: 60px;
     line-height: 60px;
   }
   .social-media-list li:after {
     width: 60px;
     height: 60px;
     line-height: 60px;
   }
   .form-control
{
   width: 300px;
}

.logo {
  top: 1vh;
  left: 3px;
  position: fixed;
  z-index: 110;
  opacity: 100%;
  height: auto;
  width: 8%;
  margin-left: 6%;
}
}

/*---------------- GENERAL - DESKTOP --------------*/
h1 {
  font-family: var(--font-navbar);
  font-size: var(--fs-heading);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-home);
}

span {
  font-family: var(--font-main);
  font-weight: var(--font-weight-normal);
  font-size: var( --fs-paragraph-home);
  letter-spacing: var(--letter-spacing-home);
}

body {
   margin: 0;
   padding: 0;
   background-color: #000;
   padding-bottom: 100px;
 }

 .continer
 {
   display: grid;

   grid-template-areas: 
   'box1 box1 box1 box1'
   'contact contact contact contact';
 }

 button {
  font-size: var(--fs-buttons);
  transition: 0.6s;
}

button:hover {
color: black;
background-color: white;
font-weight: var(--font-weight-bold);
transition: 0.6s;
}

 .buttonvideo {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    height: 5vh;
    width: 30%;
    border-radius: 50px;
}

.form-control
{
   width: 500px;
}

 .menu
 {
   display: none;
 }
 .checkbox, .menu-toggle, .menu-toggle
 {
   display: none;
 }
 .box1 {
   grid-area: box1;
   background-color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   overflow: hidden;
}

.logo {
   top: 0.2vh;
   left: 3px;
   position: fixed;
   z-index: 110;
   opacity: 100%;
   height: 10vh;
width: 5%;
margin-left: 6%;
}

.navbar {
   overflow: hidden;
   z-index: 200;
   top: 0;
   position: fixed;
   width: 100%;
   padding-right: 55%;
   background-color: #000000;
   text-align: center;
   margin-top: -2%;
   justify-content: center; /* ממרכז את האלמנטים באופן אופקי */

}

.navbar a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin-top: 5px;
  background: white;
  transition: width ease 0.5s;
}

.navbar a.link-contact::after {
  width: 100%;
}

.navbar a:hover::after {
  width: 100%;
}

.navlinks li {
   float: right;

}

.navlinks {
   list-style-type: none;
   margin: 0;
   padding: 0;
   
}

.navlinks li a {
   color: white;
   display: block;
   text-align: center;
   padding: 2vh 2vw;
   text-decoration: none;
   margin-top: 2vh;
}


.navlinks img {
   border-radius: 10vh;
   height: 1vh;
}

 #contact {
   grid-area: contact;

   width: 100%;
   height: 100%;
   margin-top: 10%;
 }

 .section-header {
   text-align: center;
   margin: 0 auto;
   padding: 40px 0;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 6px;
 }

 .contact-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 0 auto;
   padding: 20px;
   position: relative;
   max-width: 840px;
 }

 /* Left contact page */
 .form-horizontal {
   max-width: 400px;
   font-weight: 400;
 }

 .form-control,
 textarea {
   max-width: 400px;
   background-color: #000;
   color: #fff;
   letter-spacing: 1px;
 }

 /* Begin Right Contact Page */
 .direct-contact-container {
   max-width: 400px;
 }

 /* Location, Phone, Email Section */
 .contact-list {
   list-style-type: none;
   margin-left: -30px;
   padding-right: 20px;
 }

 .list-item {
   line-height: 4;
   color: #aaa;
 }

 .contact-text {
   letter-spacing: 1.9px;
   color: #bbb;
 }

 .place {
   margin-left: 62px;
 }

 .phone {
   margin-left: 56px;
 }

 .gmail {
   margin-left: 53px;
 }

 .contact-text a {
   color: #bbb;
   text-decoration: none;
   transition-duration: 0.2s;
 }

 .contact-text a:hover {
   color: #fff;
   text-decoration: none;
 }

/* Social Media Icons */
.social-media-list {
   position: relative;
   font-size: 22px;
   text-align: center;
   width: 100%;
   margin: 0 auto;
   padding: 0;
 }
 
 .social-media-list li a {
   color: #fff;
 }
 
 .social-media-list li {
   position: relative;
   display: inline-block;
   height: 64px; /* גובה העיגול */
   width: 64px; /* רוחב העיגול */
   margin: 10px 3px;
   line-height: 64px;
   border-radius: 50%;
   color: #fff;
   background-color: rgb(27, 27, 27);
   cursor: pointer;
   transition: all .2s ease-in-out;
   text-align: center; /* מירכוז התמונה בתוך העיגול */
 }
 
 .social-media-list li img {
   max-width: 48px; /* רוחב התמונה */
   max-height: 48px; /* גובה התמונה */
   margin: 8px; /* מרווח בין התמונה לעיגול */
   filter: brightness(50%); /* עיצוב התמונה - כהות */
 }
 
 .social-media-list li:hover {
   background-color: #fff;
 }
 
 
 .social-media-list li:hover:after {
   opacity: 1;
   transform: scale(1.12);
   transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
 }
 
 .social-media-list li:hover a {
   color: #000;
 }
 
 .copyright {
   color: #625e5e;
   letter-spacing: 1px;
   text-align: center;
 }

 hr {
   border-color: rgba(255, 255, 255, .6);
 }

