body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   background-color: #000000;
}

header {
   background-color: #000000;
   color: white;
   text-align: center;
   padding: 2%;
   height: 1vh;
}

nav {
   background-color: #000000;
   padding: 2%;
}

nav ul {
   list-style-type: none;
   padding: 0;
   text-align: center;
}

nav ul li {
   display: inline;
   margin-right: 2%;
}

nav ul li a {
   color: white;
   text-decoration: none;
}

.container {
   display: grid;
   place-items: center;
   height: calc(75vh - 80px);
   gap: 5%;
}

.box {
   background-color: #000000;
   padding: 2%;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
   color: rgb(255, 255, 255);
}

footer {
   background-color: #000000;
   color: white;
   text-align: center;
   padding: 10px;
   position: fixed;
   bottom: 0;
   width: 100%;
}

.project {
   color: rgb(255, 255, 255);
}

.img {
   height: 3vh;
}

.A {
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   list-style-type: none;
}

li {
   flex: 1 1 0;
   max-width: 150px;
   text-align: center;
}

img {
   width: 70%;
   height: auto;
   border-radius: 50%;
}

.hidden-link {
   display: none;
}

a {
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-weight: bold;
}

li:hover a {
   color: red; /* Change the color to red on hover */
}

@media screen and (max-width: 768px) {
   /* הגדרות עיצוב עבור מכשירים ניידים (טאבלטים ופלאפונים) */
   header {
      padding: 5px;
      height: auto;
   }

   nav ul li {
      margin-right: 5%;
      
   }

   .box {
      padding: 5%;
   }

   .img {
      height: 5vh;
   }

   .hamburger {

      background: #333;
       position: absolute;
       padding: 11px 13px;
       top: 5px;
       right: 20px;
       font-size: 30px;
       cursor: pointer;
       color: white;
       z-index: 2;
   }
   
   .menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
   }
   
   .menu ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   
   .menu ul li {
      text-align: center;
      margin-bottom: 20px;
   }
   
   .menu ul li a {
      text-decoration: none;
      color: white;
      font-size: 24px;
   }
   
   .menu-toggle:checked + .hamburger {
      background-color: transparent;
      display: none;
   }
   
   
   
  .navbar input {
      appearance: none;
   }
   
   .menu-toggle:checked + .hamburger + .menu {
      display: block;
   }
   
   #menu-close:checked{
      display: none;
   }
   
   .close-menu {
      background: #333;
      position: absolute;
      padding: 11px 16px;
      top: 10px;
      right: 20px;
      font-size: 30px;
      cursor: pointer;
      color: white;
      z-index: 2;
   }
   
   
   .close-menu:hover {
      color: red; /* צבע כאשר מרחיקים מהכפתור */
   }
   /* עיצוב למסכי מובייל עם רוחב עד 600 פיקסלים */
   
   
   .menu ul::before {
      display: none; /* ערך הגנרי להסתרת התפריט */
      visibility: hidden; /* כדי שלא יתפרטס התפריט */
      
   }
   
   .menu-toggle:checked + .hamburger + .menu ul {
      display: block; /* הצגת התפריט כאשר ההמבורגר פתוח */
      visibility: visible;
   
   }
   
   .navlinks
   {
      display: none;
   }
   
   .menu ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; /* הסתרת רשימת הקישורים */
   }
   
   .menu-toggle:checked + .hamburger + .menu ul {
      display: block; /* הצגת רשימת הקישורים כאשר ההמבורגר פתוח */
   }
   
   .menu-toggle::after + .hamburger + .menu ul 
   {
   display: none;
   }
   
   .menu-toggle
   {
      display: none;
   }

   .footindex {
      grid-area: footer;
      background-color: #0a0a0a;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      padding: auto;
   }

   #foot2 {display: none;}
   
   .footindex div {
      flex: 1;
      margin: 10px;
   }
   
   .footindex .footer-logo {
      max-width: 100px;
   }
   
   .footindex p {
      margin: 5px 0;
   }
   
   .footindex h2 {
      font-size: 1.2em;
      margin-bottom: 10px;
   }
   
   .footindex .footer-links {
      list-style-type: none;
      padding: 0;
   }
   
   .footindex .footer-links li {
      margin-bottom: 5px;
   }
   
   .footindex a {
      color: #fff;
      text-decoration: none;
   }
   
   .footindex a:hover {
      text-decoration: underline;
   }
   
   #fb, #yt, #tw, #ig {
      max-width: 30px;
      margin-right: 5px;
   }
   form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
   }
   .foot4
   {
      margin-top: 30%;
   }
   input[type="email"] {
      padding: 10px;
      border: 2px solid #000;
      border-radius: 5px;
      font-size: 16px;
   }
   
   input[type="submit"] {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      background-color: #000;
      color: white;
      cursor: pointer;
   }
   
   input[type="submit"]:hover {
      background-color: #333;
   }
}

@media screen and (max-width: 480px) {
   /* הגדרות עיצוב עבור מכשירים סלולריים */
   nav ul li {
      margin-right: 1%;
      font-size: 0.7rem;

   }

   .box {
      padding: 1%;
      width: 80%;
      height: 56%;
      font-size: 0.7rem;

   }

   .img {
      height: 3vh;
   }
   .project
   {
      font-size: 0.7rem;

   }
}
li:hover a {
   color: #000000; /* שינוי צבע הטקסט לשחור */
   background-color: #ffffff; /* שינוי צבע הרקע ללבן */
}
