@import url("./mobile-index.css");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@media  (min-width: 800px) and (max-width: 2560px)
{

 *p {
   font-family: 'Heebo', sans-serif;
   font-weight: 400;
}

  body {
   background-color: rgb(0, 0, 0);
   font-family: "Yanone Kaffeesatz";

   margin: 0;
   padding: 0;
}

.container {
   display: grid;
   grid-template-areas: 
   'box1 box1 box1'
   'box2 box2 box3'
   'box5 box5 box4'
   'box6 box6 box6'
   'box11 box10 box10'
   'box12 box12 box13'
   'box15 box14 box14'
   'footindex footindex footindex';

   margin: 0;
   padding: 0;
   grid-template-columns: 1fr 1fr 1fr;
   row-gap: 20vh;
}


.br {
   display: none;
}

.box1 {
   grid-area: box1;
   background-color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   overflow: hidden;
}

.video {
   width: 100vw;
   height: 60vh;
   object-fit: cover;
   opacity: 100%;
}

.logo {
   top: 0.2vh;
   left: 3px;
   position: fixed;
   z-index: 110;
   opacity: 100%;
   height: 10vh;
width: 5%;
margin-left: 6%;
}

.navbar {
   overflow: hidden;
   z-index: 200;
   top: 0;
   position: fixed;
   height: 10vh;
   width: 100%;
   padding-right: 55%;
   background-color: #000000;
   
}

.navlinks li {
   float: right;

}

.navlinks {
   list-style-type: none;
   margin: 0;
   padding: 0;
   
}

.navlinks li a {
   color: white;
   display: block;
   text-align: center;
   padding: 2vh 2vw;
   text-decoration: none;
   margin-top: 2vh;
   background-color: #000000;
}

.navlinks li a:hover {
   color: rgb(45, 45, 45);

}

.navlinks img {
   border-radius: 10vh;
   height: 1vh;

}
.p5
{
   color: whit
   
   
   
;
}

.box2 {
   grid-area: box2;
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
   margin-left: 10%;
}

.img2 {
   width: 40%;
   height: 90%;
   opacity: 100%;
margin-top: 5%;
border-radius: 20px;

}

.img4 {
   width: 90%;
   height: 100%;
   opacity: 70%;
margin-left: 5%;
border-radius: 20px;

}

.box3 {
   grid-area: box3;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 0, 0);
   height: 100%;
margin-left: -100%;
   color: white;
}

.text {
   font-family: "Yanone Kaffeesatz";
   font-size: 3.5vh;
   text-align: center;
   padding: 0 2vh;
}

.overlay {
   z-index: 100;
}

.wrapper {
   display: inline-block;
   margin: 0 5px;
}

.letter {
   transition: ease-out 2s;
   transform: translateY(70%);
}

.shadow {
   color: #141414;
   transition: ease-in 3s, ease-out 3s;
}

.text:hover .letter {
   transform: translateY(-100%);
}

.text:hover .shadow {
   opacity: 0;
   transform: translateY(100%);
}

.box4 {
   grid-area: box4;
   background-color: rgba(0, 0, 0, 0.713);
   height: 100%;
   width: 100%;
   margin-left: -20%;
}



.box5 {
   grid-area: box5;
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
   margin-left: 23%;
}
.line {
   width: 100%;
   height: 1px;
   background-color: white;
   animation: wave 2s infinite alternate;
}

@keyframes wave {
   7% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(10px);
   }
}


.p5h {
   color: #ffffff;
   font-size: 1.5rem;
   letter-spacing: 2px;   
  margin-left: 2%;
  margin-top: 20%;
 

}

.p5h1 
{
   color: #ffffff;

}

  




   
   






p{
   margin-right: 40%;
}

.container1 {
   margin: 1rem auto;
   padding: 1rem; 
  
}



.box6 {
   grid-area: box6;
   background-color: rgb(0, 0, 0);
   height: 80%;
   width: 100%;

}

.img6
{
   width: 100%;
   height: 100%;
   object-fit: fill;
   border-radius: 30%;
}




.box10 {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 15%;
   justify-content: center;
   grid-area: box10;
   font-size: 1rem; /* גודל הטקסט ב box10 יהיה 3% מרוחב המסך */
}



.divider {
   order: 2;
   width: 100%;
   border-bottom: 1px solid #ffffff; /* צבע קו לבן */
   margin: 2px 0; /* מרווח למעלה ולמטה מהקו */
   
 }










.button6,
.buttonvideo {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    height: 5vh;
    margin-left: 40%;
    width: 20%;
    border-radius: 50px;
}

.button5:hover,
.button6:hover,
.buttonvideo:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-color: black;
}
.button5
{
   margin-right: 50%;
   background-color: transparent;
   color: rgb(255, 255, 255);
   border: 1px solid rgb(255, 255, 255);
   cursor: pointer;
   font-size: 1rem;
   height: 5vh;
   width: 20%;
   border-radius: 50px;
}
.footindex {
grid-area: footindex;

   display: flex;
   justify-content: space-around;
   color: #fff;
   padding: 10px;
   flex-wrap: wrap;
}

.footer-item {
   flex: 1;
   margin: 10%;
   
}
.footer-item form {
   margin-top: 10px;
}

.footer-item input[type="email"] {
   padding: 10px;
   border: 2px solid #000;
   border-radius: 5px;
   font-size: 16px;
   width: 200px;
   margin-right: 10px;
}

.footer-item input[type="submit"] {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   background-color: #000;
   color: white;
   cursor: pointer;
}

.footer-item input[type="submit"]:hover {
   background-color: #333;
}

.footer-links {
   padding-left: 0;
}

.footer-links li {
   list-style-type: none;
   margin-bottom: 5px;
}

.footer-links a {
   color: #fff;
   text-decoration: none;
}

.footer-links a:hover {
   text-decoration: underline;
}

@media (max-width: 600px) {
   .footindex {
       flex-direction: column;
   }

   .footer-item {
       width: 100%;
   }
}

.box10
{
   grid-area: box10;

   width: 80%;
   height: 100%;
   margin-left: 15%;
}
.p10
{
   color: white;
   margin-bottom: 10%;
   font-size: 1rem;
   letter-spacing: 2px;
 
}
.pp10
{
   color: white;
   margin-left: -71%;
   margin-top: 17%;
   
}
.box11
{
   grid-area: box11;

   width: 100%;
   height: 100%;
}
.img11
{
   height: auto;
   width: 70%;
margin-left: 20%;
border-radius: 20px;
}


.box12
{
   grid-area: box12;

   width: 100%;
   height: 100%;
   margin-right: 40%;
}
.p12
{
   color: white;
   margin-left: 30%;
   width: 50%;
   font-size: 1rem;
   letter-spacing: 2px;
}
.pp12
{
   color: white;
   margin-left: 30%;
   width: 50%;
   margin-top: 13%;
}
.box13
{
   grid-area: box13;

   width: 100%;
   height: 100%;
   margin-left: -10%;

}
.box14
{
   grid-area: box14;
   width: 100%;
   height: 100%;

}
.pp14
{
   color: white;
   margin-top: 15%;
   margin-left: 15%;

}
.p14
{
color: white;
font-size: 1rem;
letter-spacing: 2px;
width: 50%;
margin-left: 15%;

}
.img14
{
   height: auto;
   width: 70%;
border-radius: 20px;

}
.box15
{
   grid-area: box15;
   width: 100%;
   height: 100%;
}
.img15
{
   height: auto;
   width: 70%;
margin-left: 20%;
border-radius: 20px;
}


.navbar a {
   position: relative;
   text-decoration: none;
   color: rgb(255, 255, 255);
 }
 
 .navbar a::after {
   content: '';
   display: block;
   width: 0;
   height: 1px;
   margin-top: 1px;
   background: rgb(255, 255, 255);
   transition: width 0.1s;
 }
 
 .navbar a:hover::after {
   width: 100%;
 }
 
}




