@import url("./vars.css");
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');


/*--------------- MOBILE -------------*/
@media (max-width: 700px) {

body {
  margin: var(--zero-margin);
  padding: var(--reser-padding);
  background-color: var(--bg-main);
}

h1 {
   color: var(--clr-heading);
   font-family: var(--font-navbar);
   font-weight: var(--font-weight-normal);
   letter-spacing: var(--letter-spacing-home);
   font-size: var(--fs-heading);
}

 p {
   color: var(--clr-paragraph);
   font-family: var(--font-main);
   font-weight: var(--font-weight-normal);
   font-size: var( --fs-paragraph-home);
   letter-spacing: var(--letter-spacing-home);
}

.container {
  display: grid;
  grid-template-areas:
    'box1'
    'box3'
    'box2'
    'box4'
    'box5'
    'box6'
    'box10'
    'box11'
    'box12'
    'box13'
    'box14'
    'box15'
    'footindex';
    gap: 10vh;
}

.video {
   height: 100%;
   width: 100%;
}






.box1 {
   grid-area: box1;
   height: 100%;
} 

.logo {
   height: 10vh;
   margin-left: 10%;
   margin-top: 0;
}

.box2 {
   grid-area: box2;
}

.img2 {
   height: auto;
   width: 50%;
   border-radius: 25px;
   margin-left: 25%;
}

.img4 
{
   height: auto;
   width: 50%;
   border-radius: 25px;
   margin-left: 25%;
}

.box3 {
   grid-area: box3;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 0, 0);
   height: 100%;
   color: white;
}

.text {
   font-size: 2em;
   text-align: center;
   padding: 0 2vh;
   margin-top: 10%;
}

.overlay {
   z-index: 100;
}

.wrapper {
   display: inline-block;
   margin: 0 5px;
}

.letter {
   transition: ease-out 2s;
   transform: translateY(70%);
}

.shadow {
   color: #131212;
   transition: ease-in 3s, ease-out 3s;
}

.text:hover .letter {
   transform: translateY(-100%);
}

.text:hover .shadow {
   opacity: 0;
   transform: translateY(100%);
}

.box4 {
   grid-area: box4;
}

.box5 {
   grid-area: box5;
}

.box5 {
   margin-left: 10%;
   width: 100%;
}

.section-paragraph{
   width: 80%;
   margin-right: -20%;
}

button {
   font-size: var(--fs-buttons);
} 

.btn-cta,
.buttonvideo {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    height: 5vh;
    width: 30%;
    border-radius: 50px;
    margin-left: 34%;
}

.btn-contact:hover,
.btn-cta:hover,
.buttonvideo:hover {
    color: #000000;
    background-color: white;
    border-color: black;
}

.btn-contact
{
   width: 40%;
   background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    height: 5vh;
    border-radius: 50px;
}

.footindex {
   grid-area: footindex;
   background-color: #0a0a0a;
   color: #fff;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: flex-start;
   font-size: 1rem; 
   margin-top: 20%;
}

.box6 {
   grid-area: box6;
   background-color: rgb(0, 0, 0);
   height: 80%;
   width: 100%;
}

.img6
{
   width: 100%;
   object-fit: fill;
}

.footindex div {
   flex: 1;
   margin: 10px;
}

.footindex .footer-logo {
   max-width: 100px;
}

.footindex p {
   margin: 5px 0;
}

.footindex h2 {
   font-size: 1rem; 
   margin-bottom: 10px;
}

.footindex .footer-links1 {
   list-style-type: none;
   padding: 0;
}

.footindex .footer-links li {
   margin-bottom: 5px;
   display: none;
}

.footindex a {
   color: #fff;
   text-decoration: none;
   display: none;
}

.footindex a:hover {
   text-decoration: underline;
}

#fb, #yt, #tw, #ig {
   max-width: 30px;
   margin-right: 5px;
   filter: brightness(0) invert(1);
   display: none;
}
.h2f
{
   display: none;
}

.footer-links, #foot2, .a, .b
{
   display: none;
}

.line {
   width: 100%;
   height: 1px;
   background-color: white;
   animation: wave 2s infinite alternate;
}

form {
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
   margin-top: 20px;
}

.box10
{
   grid-area: box10;
   margin-left: 10%;
   width: 100%;
}

.section-heading
{
   color: white;
}

.box11
{
   grid-area: box11;
}

.img11
{
   height: auto;
   width: 50%;
   border-radius: 25px;
   margin-left: 25%;
}

.box12
{
   grid-area: box12;
   margin-left: 10%;
   width: 80%;
}

.box13
{
   grid-area: box13;
}

.box14
{
   grid-area: box14;
   margin-left: 10%;
   width: 80%;
}

.pp14
{
   color: white;
}

.p14
{
   color: white;
}

.img14
{
   height: auto;
   width: 50%;
   border-radius: 25px;
   margin-left: 25%;
}

.box15
{
   grid-area: box15;
}

.img15
{
   height: auto;
   width: 50%;
   border-radius: 25px;
   margin-left: 25%;
}

.hamburger {
    position: absolute;
    padding: 11px 13px;
    top: 0px;
    right: 15px;
    font-size: 35px; 
    cursor: pointer;
    color: white;
    z-index: 2;
}

.menu {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 1;
}

.menu ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.menu ul li {
   padding: 0.7em;
   text-align: center;
   margin-bottom: 20px;
}

.menu ul li a {
   text-decoration: none;
   color: white;
   font-size: var(--fs-mobile-menu);
}

.menu-toggle:checked + .hamburger {
   background-color: transparent;
   display: none;
}

.navbar input {
   appearance: none;
}

.menu-toggle:checked + .hamburger + .menu {
   display: block;
}

#menu-close:checked{
   display: none;
}

.close-menu {
   position: absolute;
   padding: 5px 16px;
   top: 10px;
   right: 20px;
   font-size: 35px; 
   cursor: pointer;
   color: white;
   z-index: 2;
}

.menu ul::before {
   display: none;
   visibility: hidden; 
}

.menu-toggle:checked + .hamburger + .menu ul {
   display: block; /* Displays the hamburger menu */ 
   visibility: visible; /* Makes the hamburger menu visible on screen */ 
}

.navlinks
{
   display: none;
}

.menu ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none; 
}

.menu-toggle:checked + .hamburger + .menu ul {
   display: flex;
   flex-direction: column;
}

.menu-toggle::after + .hamburger + .menu ul 
{
   display: none;
}

.menu-toggle
{
   display: none;
}

.img4
{
   display: none;
}
}

/*--------------- TABLET -------------*/
@media (min-width: 700px) and (max-width: 1000px)
{
   h1 {
      color: var(--clr-heading);
      font-family: var(--font-navbar);
      font-weight: var(--font-weight-normal);
      letter-spacing: var(--letter-spacing-home);
      font-size: var(--fs-heading);
   }
   
    p {
      color: var(--clr-paragraph);
      font-family: var(--font-main);
      font-weight: var(--font-weight-normal);
      font-size: var( --fs-paragraph-home);
      letter-spacing: var(--letter-spacing-home);
   }
   
     body {
      background-color: var(--bg-main);
      margin: 0;
      padding: 0;
   }
   
   .container {
      display: grid;
      grid-template-areas: 
      'box1 box1 box1'
      'box2 box2 box3'
      'box5 box5 box4'
      'box6 box6 box6'
      'box11 box10 box10'
      'box12 box12 box13'
      'box15 box14 box14'
      'footindex footindex footindex';
      margin: 0;
      padding: 0;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 20vh;
   }
   
   .menu-toggle,
   .menu
   {
      display: none;
   }

   .box1 {
      grid-area: box1;
      background-color: var(--bg-main);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
   }
   
   .video {
      width: 100vw;
      height: 60vh;
      object-fit: cover;
      opacity: 100%;
   }
   
   .logo {
      top: 0.2vh;
      left: 3px;
      position: fixed;
      z-index: 110;
      opacity: 100%;
      height: auto;
      width: 8%;
      margin-left: 6%;
    }

   .navbar {
      overflow: hidden;
      z-index: 200;
      top: 0;
      position: fixed;
      height: 10vh;
      width: 100%;
      background-color: #000000;
      font-size: 0.8rem;
      display: flex; 
      justify-content: center; 
   }
  
   .navlinks li {
      float: right;
   }
   
   .navbar a.link-home::after {
      width: 100%;
   }
    
   .navlinks {
      list-style-type: none;
      margin: 0;
      padding: 0;
   }
   
   .navlinks li a {
      color: var(--clr-heading);
      display: block;
      text-align: center;
      padding: 2vh 2vw;
      text-decoration: none;
      margin-top: 2vh;
      background-color: #000000;
   }
   
   .navlinks img {
      border-radius: 10vh;
      height: 1vh;
   }

   .box2 {
      grid-area: box2;
      background-color: rgb(0, 0, 0);
      height: 100%;
      width: 100%;
      margin-left: 10%;
   }
   
   .img2 {
      width: 40%;
      height: 90%;
      opacity: 100%;
      margin-top: 5%;
      border-radius: 20px;
   }
   
   .img4 {
      width: 90%;
      height: 100%;
      opacity: 70%;
      margin-left: 5%;
      border-radius: 20px;
   }
   
   .box3 {
      grid-area: box3;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-main);
      height: 100%;
      margin-left: -100%;
      color: white;
   }
   
   .text {
      font-family: var(--font-navbar);
      font-size: var(--fs-heading);
      text-align: center;
      padding: 0 2vh;
   }
   
   .overlay {
      z-index: 100;
   }
   
   .wrapper {
      display: inline-block;
      margin: 0 5px;
   }
   
   .letter {
      transition: ease-out 2s;
      transform: translateY(70%);
   }
   
   .shadow {
      color: #141414;
      transition: ease-in 3s, ease-out 3s;
   }
   
   .text:hover .letter {
      transform: translateY(-100%);
   }
   
   .text:hover .shadow {
      opacity: 0;
      transform: translateY(100%);
   }
   
   .box4 {
      grid-area: box4;
      background-color: rgba(0, 0, 0, 0.713);
      height: 100%;
      width: 100%;
      margin-left: -20%;
   }
   
   .box5 {
      grid-area: box5;
      background-color: rgb(0, 0, 0);
      height: 100%;
      width: 100%;
      margin-left: 23%;
   }

   .line {
      width: 100%;
      height: 1px;
      background-color: white;
      animation: wave 2s infinite alternate;
   }
   
   @keyframes wave {
      7% {
         transform: translateY(0);
      }
      100% {
         transform: translateY(10px);
      }
   }
   
   .section-heading {
      color: var(--clr-heading);
      margin-left: 0;
      margin-top: 20%;
   }
   
   .section-paragraph {
      color: var(--clr-paragraph);
   }

   .box6 {
      grid-area: box6;
      background-color: rgb(0, 0, 0);
      height: auto;
      width: 100%;
   }
   
   .img6
   {
      width: 100%;
      height: 100%;
      object-fit: fill;
   }

    button {
      font-size: var(--fs-buttons);
   } 
   .buttonvideo 
   {
      background-color: transparent;
       color: white;
       border: 1px solid white;
       cursor: pointer;
       height: 5vh;
       font-size: 0.8rem;
       width: 20%;
       border-radius: 50px; 
       margin-left: 41%;
   }
   .btn-cta
  {
       background-color: transparent;
       color: white;
       border: 1px solid white;
       cursor: pointer;
       height: 5vh;
       font-size: 0.8rem;
       width: 40%;
       border-radius: 50px;
   }
   
   .btn-contact:hover,
   .btn-cta:hover,
   .buttonvideo:hover {
       color: #000000;
       background-color: white;
       border-color: black;
   }

   .btn-contact
   {
      margin-right: 50%;
      background-color: transparent;
      color: white;
      border: 1px solid white;
      cursor: pointer;
      height: 5vh;
      width: 40%;
      font-size: 0.8rem;
      border-radius: 50px;
   }

   .footindex {
      grid-area: footindex;
      display: flex;
      justify-content: space-around;
      color: #fff;
      padding: 10px;
      flex-wrap: wrap;
   }
   
   .footer-item {
      flex: 1;
      margin: 10%;
      
   }
   .footer-item form {
      margin-top: 10px;
   }
   
   .footer-item input[type="email"] {
      padding: 10px;
      border: 2px solid #000;
      border-radius: 5px;
      font-size: 16px;
      width: 200px;
      margin-right: 10px;
   }
   
   .footer-item input[type="submit"] {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      background-color: #000;
      color: white;
      cursor: pointer;
   }
   
   .footer-item input[type="submit"]:hover {
      background-color: #333;
   }
   
   .footer-links {
      padding-left: 0;
   }
   
   .footer-links li {
      list-style-type: none;
      margin-bottom: 5px;
   }
   
   .footer-links a {
      color: #fff;
      text-decoration: none;
   }
   
   .footer-links a:hover {
      text-decoration: underline;
   }
   
   @media (max-width: 600px) {
      .footindex {
          flex-direction: column;
      }
   
      .footer-item {
          width: 100%;
      }
   }

   .box10
   {
      grid-area: box10;
      width: 80%;
      height: 100%;
   }

   .section-paragraph
   {
      margin-bottom: 10%;
      width: 100%;
   }

   .box5 {
      width: 100%;
      margin-left: 5%;
   }

   .section-heading
   {
      width: 80%;
   }

   .box11
   {
      grid-area: box11;
      width: 100%;
      height: 100%;
   }

   .img11
   {
      height: auto;
      width: 70%;
      margin-left: 20%;
      border-radius: 20px;
   }
   
   .box12
   {
      grid-area: box12;
      width: 80%;
      height: 100%;
      margin-left: 10%;
   }

   .section-paragraph-left
   {
      width: 100%;
   }

   .section-heading-left
   {
      width: 80%;
   }

   .box13
   {
      grid-area: box13;
      width: 100%;
      height: 100%;
      margin-left: -10%;
   }

   .box14
   {
      grid-area: box14;
      width: 80%;
      height: 100%;
   }

   .pp14
   {
      color: white;
      width: 80%;
   }

   .p14
   {
      color: white;
      width: 100%;
   }

   .img14
   {
      height: auto;
      width: 70%;
      border-radius: 20px;
   }

   .box15
   {
      grid-area: box15;
      width: 100%;
      height: 100%;
   }

   .img15
   {
      height: auto;
      width: 70%;
      margin-left: 20%;
      border-radius: 20px;
   }
   
   .navbar a {
      position: relative;
      text-decoration: none;
      color: var(--clr-heading);
    }
    
    .navbar a::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      margin-top: 1px;
      background: white;
      transition: width 0.5s;
    }
    
    .navbar a:hover::after {
      width: 100%;
    }
}

/*--------------- DESKTOP -------------*/
@media  (min-width: 1001px) and (max-width: 2560px)
{

h1 {
   color: var(--clr-heading);
   font-family: var(--font-navbar);
   font-size: var(--fs-heading);
   font-weight: var(--font-weight-normal);
   letter-spacing: var(--letter-spacing-home);
}

 p {
   color: var(--clr-paragraph);
   font-family: var(--font-main);
   font-weight: var(--font-weight-normal);
   font-size: var( --fs-paragraph-home);
   letter-spacing: var(--letter-spacing-home);
}

  body {
   background-color: rgb(0, 0, 0);
   margin: 0;
   padding: 0;
}

.container {
   display: grid;
   grid-template-areas: 
   'box1 box1 box1'
   'box2 box2 box3'
   'box5 box5 box4'
   'box6 box6 box6'
   'box11 box10 box10'
   'box12 box12 box13'
   'box15 box14 box14'
   'footindex footindex footindex';
   margin: 0;
   padding: 0;
   grid-template-columns: 1fr 1fr 1fr;
   row-gap: 20vh;
   grid-template-rows: auto;
}
.section-heading
{
   margin-left: 0;
   margin-top: 0;
}

.br {
   display: none;
}

.menu
 {
   display: none;
 }

 .checkbox, .menu-toggle, .menu-toggle
 {
   display: none;
 }

.box1 {
   grid-area: box1;
   background-color: var(--bg-main);
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.video {
   width: 100vw;
   height: 70vh;
   object-fit: cover;
   opacity: 30%;
}

.logo {
   top: 0vh;
   left: 3px;
   position: fixed;
   z-index: 110;
   opacity: 100%;
   height: 10vh;
   width: 7%;
   margin-left: 6%;
}

.navbar {
   overflow: hidden;
   z-index: 200;
   top: 0;
   position: fixed;
   height: 10vh;
   width: 100%;
   padding-right: 55%;
   background-color: var(--bg-main);
   text-align: center;
   justify-content: center; 
   z-index: 1000;
}

.navlinks li {
   float: right;
}

.navlinks {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.navlinks li a {
   font-family: var(--font-navbar);
   color: var(--clr-heading);
   display: block;
   text-align: center;
   padding: 2vh 2vw;
   text-decoration: none;
}

.navbar a.link-home::after {
   width: 100%;
 }

.navlinks img {
   border-radius: 10vh;
   height: 1vh;
}

.box2 {
   grid-area: box2;
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
   margin-left: 10%;
}

.img4:hover,
.img11:hover,
.img14:hover,
.img15:hover {
   transition: 0.5s;
   transform: scale(1.1);
}

.img2 {
   width: 40%;
   height: 90%;
   opacity: 100%;
   margin-top: 5%;
   border-radius: 20px;
}

.img4 {
   transition: 0.5s;
   width: 90%;
   height: 100%;
   opacity: 90%;
   margin-left: 5%;
   border-radius: 20px;
   z-index: 1000;
}

.box3 {
   grid-area: box3;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 0, 0);
   height: 100%;
   margin-left: -100%;
   color: var(--clr-heading);
}

.text {
   font-family: var(--font-navbar);
   font-size: 3.5vh;
   text-align: center;
   padding: 0 2vh;
}

.overlay {
   z-index: 100;
}

.wrapper {
   display: inline-block;
   margin: 0 5px;
}

.letter {
   transition: ease-out 2s;
   transform: translateY(70%);
}

.shadow {
   color: #141414;
   transition: ease-in 3s, ease-out 3s;
}

.text:hover .letter {
   transform: translateY(-100%);
}

.text:hover .shadow {
   opacity: 0;
   transform: translateY(100%);
}

.box4 {
   grid-area: box4;
   background-color: rgba(0, 0, 0, 0.713);
   height: 100%;
   width: 100%;
   margin-left: -20%;
}

.box5 {
   grid-area: box5;
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
   margin-left: 23%;
}

.line {
   width: 100%;
   height: 1px;
   background-color: white;
   animation: wave 2s infinite alternate;
}

@keyframes wave {
   7% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(10px);
   }
}

.section-heading {
   color: #ffffff;
  margin-left: 0;
  margin-top: 20%;
}
  
.text
{
   font-size: 4rem;
}


p {
   margin-right: 40%;
}

.box6 {
   grid-area: box6;
   background-color: rgb(0, 0, 0);
   height: 100%;
}

.img6
{
   margin-top: 10%;
   width: 100%;
   height: 80%;
   object-fit: cover;
   border-radius: 10px;
}

.box10 {
   grid-area: box10;
}

button {
   font-size: var(--fs-buttons);
   transition: 0.6s;
}

button:hover {
   font-weight: var(--font-weight-bold);
   transition: 0.6s;
}

.btn-cta
{
   background-color: transparent;
   color: white;
   border: 1px solid white;
   cursor: pointer;
   height: 5vh;
   width: 40%;
   border-radius: 50px;
   top: 0%;
}

.buttonvideo {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    height: 5vh;
    margin-left: 40%;
    width: 20%;
    border-radius: 50px;
}

.btn-contact:hover,
.btn-cta:hover,
.buttonvideo:hover {
    color: #000000;
    background-color: white;
    border-color: black;
}

.btn-contact
{
   margin-right: 50%;
   background-color: transparent;
   color: white;
   border: 1px solid white;
   cursor: pointer;
   height: 5vh;
   width: 30%;
   border-radius: 50px;
}

.footindex {
   grid-area: footindex;
   display: flex;
   justify-content: space-around;
   color: #fff;
   padding: 10px;
   flex-wrap: wrap;
}

.footer-item {
   flex: 1;
   margin: 10%;
}

.footer-item form {
   margin-top: 10px;
}

.footer-item input[type="email"] {
   padding: 10px;
   border: 2px solid #5a5858;
   border-radius: 5px;
   font-size: 16px;
   width: 200px;
   margin-right: 10px;
}

.footer-item input[type="submit"] {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   background-color: #000;
   color: white;
   cursor: pointer;
   border: 2px solid #f5f5f5;
   margin-top: 2%;
}

.footer-item input[type="submit"]:hover {
   background-color: #333;
   border: 2px solid #f5f5f5;
}

.footer-links {
   padding-left: 0;
}

.footer-links li {
   list-style-type: none;
   margin-bottom: 5px;
}

.footer-links a {
   color: #fff;
   text-decoration: none;
}

.footer-links a:hover {
   text-decoration: underline;
}

@media (max-width: 600px) {
   .footindex {
       flex-direction: column;
   }

   .footer-item {
       width: 100%;
   }
}

.box10
{
   grid-area: box10;
   width: 80%;
   height: 100%;
   margin-left: 15%;
}

.section-paragraph
{
   margin-bottom: 10%;
}

.section-heading
{
   margin-right: 50%;
   width: 50%;
   margin-top: 15%;
}

.box11
{
   grid-area: box11;
   width: 100%;
   height: 100%;
}

.img11
{
   transition: 0.5s;
   height: auto;
   width: 70%;
   margin-left: 20%;
   border-radius: 20px;
}

.box12
{
   grid-area: box12;
   width: 100%;
   height: 100%;
   margin-right: 40%;
}

.section-paragraph-left
{
   margin-left: 30%;
   width: 50%;
}

.section-heading-left
{
   margin-left: 30%;
   width: 50%;
   margin-top: 0;
}

.box13
{
   grid-area: box13;
   width: 100%;
   height: 100%;
   margin-left: -10%;
}

.box14
{
   grid-area: box14;
   width: 100%;
   height: 100%;
}

.pp14
{
   margin-top: 0;
   margin-left: 15%;
}

.p14
{
   width: 50%;
   margin-left: 15%;
}

.img14
{
   transition: 0.5s;
   height: auto;
   width: 70%;
   border-radius: 20px;
}

.box15
{
   grid-area: box15;
   width: 100%;
   height: 100%;
}

.img15
{
   transition: 0.5s;
   height: auto;
   width: 70%;
   margin-left: 20%;
   border-radius: 20px;
}

.navbar a {
   transition: 0.5s;
   position: relative;
   text-decoration: none;
   color: var(--clr-heading);
 }

 .navbar a::after {
   content: '';
   display: block;
   width: 0;
   height: 2px;
   margin-top: 5px;
   background: white;
   transition: width ease 0.5s;
 }
 
 .navbar a:hover::after {
   width: 100%;
 }
 
 .navbar a:hover {
   color: white;
 }

 .menu
 {
   display: none;
 }
}