@media (max-width: 700px) 

{
   body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
}



.container {
  display: grid;
  grid-template-areas:
    'box1'
    'box3'
    'box2'
    'box5'
    'box4'
    'box6'
    'box10'
    'box11'
    'box12'
    'box13'
    'box14'
    'box15'
    'footindex';
    gap: 10vh;
    
}

.container > div {
  background-color: #000000;
}

.logo
{
   display: block;
   height: auto;
   width: 20%;
   margin-top: -2%;
}




.video {
   height: 100%;
   width: 100%;
 
}

.box1 {
   grid-area: box1;
   height: 100%;
} 

.logo {
   height: auto;
 width: 20%;
 margin-left: 10%;
}

.br
{
   margin-left: 40%;
   z-index: 100;
   filter: brightness(0) invert(1);
}


.box2 {
   grid-area: box2;
 
}

.img2 {

height: auto;
width: 50%;
border-radius: 25px;
margin-left: 25%;
}

.img4 
{
   height: auto;
   width: 50%;
   border-radius: 25px;
   margin-left: 25%;
}

.box3 {
   grid-area: box3;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 0, 0);
   height: 100%;
   color: white;
}

.text {
   font-size: 3.5vh;
   text-align: center;
   padding: 0 2vh;
   margin-top: 10%;
}

.overlay {
   z-index: 100;
}

.wrapper {
   display: inline-block;
   margin: 0 5px;
}

.letter {
   transition: ease-out 2s;
   transform: translateY(70%);
}

.shadow {
   color: #131212;
   transition: ease-in 3s, ease-out 3s;
}

.text:hover .letter {
   transform: translateY(-100%);
}

.text:hover .shadow {
   opacity: 0;
   transform: translateY(100%);
}
.box4 {
   grid-area: box4;
  
}



.box5 {
   grid-area: box5;
   
}
.line {

}

.p5h 
{
   font-size: 1.2rem; 
   font-size: large;


}
.box5{
   margin-left: 10%;
   
}

.p5{
   width: 80%;
   margin-right: -20%;
   font-size: medium;
}


.button6,
.buttonvideo {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    height: 5vh;
    width: 30%;
    border-radius: 50px;
    margin-left: 34%;
}

.button5:hover,
.button6:hover,
.buttonvideo:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-color: black;
}

.button5
{
   width: 30%;
   background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    height: 5vh;
    border-radius: 50px;
}
.footindex {
   grid-area: footindex;
   background-color: #0a0a0a;
   color: #fff;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: flex-start;
   font-size: 0.5;
}

.box6 {
   grid-area: box6;
   background-color: rgb(0, 0, 0);
   height: 80%;
   width: 100%;

}

.img6
{
   width: 100%;
   height: 100%;
   object-fit: fill;
   border-radius: 30%;
}

.footindex div {
   flex: 1;
   margin: 10px;
}

.footindex .footer-logo {
   max-width: 100px;
}

.footindex p {
   margin: 5px 0;
}

.footindex h2 {
   font-size: 1.2em;
   margin-bottom: 10px;
}

.footindex .footer-links1 {
   list-style-type: none;
   padding: 0;
}

.footindex .footer-links li {
   margin-bottom: 5px;
   display: none;
}

.footindex a {
   color: #fff;
   text-decoration: none;
   display: none;

}

.footindex a:hover {
   text-decoration: underline;
}

#fb, #yt, #tw, #ig {
   max-width: 30px;
   margin-right: 5px;
   filter: brightness(0) invert(1);
   display: none;
}
.h2f
{
   display: none;

}
.line {
   width: 100%;
   height: 1px;
   background-color: white;
   animation: wave 2s infinite alternate;
}
form {
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
   margin-top: 20px;
}
.foot4
{
   margin-top: 30%;
}
input[type="email"] {
   padding: 10px;
   border: 2px solid #000;
   border-radius: 5px;
   font-size: 16px;
}

input[type="submit"] {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   background-color: #000;
   color: white;
   cursor: pointer;
}

input[type="submit"]:hover {
   background-color: #333;
}


.box10
{
   grid-area: box10;
margin-left: 10%;
  width: 80%;
}
.p10
{
   color: white;
   font-size: 0.7rem;
   letter-spacing: 2px;
 
}
.pp10
{
   color: white;
  
   font-size: 1rem;
   letter-spacing: 2px;
   
   
}
.box11
{
   grid-area: box11;

}
.img11
{
   height: auto;
   width: 50%;
   border-radius: 25px;
   margin-left: 25%;
}


.box12
{
   grid-area: box12;
   margin-left: 10%;
   width: 80%;
  
}
.p12
{
   color: white;

}
.pp12
{
   color: white;
 
}
.box13
{
   grid-area: box13;

  

}
.box14
{
   grid-area: box14;
   margin-left: 10%;
   width: 80%;

}
.pp14
{


}
.p14
{
color: white;
font-size: 1rem;
letter-spacing: 2px;


}
.img14
{
   height: auto;
   width: 50%;
   border-radius: 25px;
   margin-left: 25%;

}
.box15
{
   grid-area: box15;
 
}
.img15
{
   height: auto;
   width: 50%;
   border-radius: 25px;
   margin-left: 25%;


}



.p5{
   color: white;
}
.p5h
{
   color: white;
}

.hamburger {
    position: absolute;
    padding: 11px 13px;
    top: 0px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    z-index: 2;
}

.menu {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 1;
}

.menu ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.menu ul li {
   text-align: center;
   margin-bottom: 20px;
}

.menu ul li a {
   text-decoration: none;
   color: white;
   font-size: 24px;
}

.menu-toggle:checked + .hamburger {
   background-color: transparent;
   display: none;
}



.navbar input {
   appearance: none;
}

.menu-toggle:checked + .hamburger + .menu {
   display: block;
}

#menu-close:checked{
   display: none;
}

.close-menu {
   position: absolute;
   padding: 11px 16px;
   top: 10px;
   right: 20px;
   font-size: 30px;
   cursor: pointer;
   color: white;
   z-index: 2;
}



.menu ul::before {
   display: none; /* ערך הגנרי להסתרת התפריט */
   visibility: hidden; /* כדי שלא יתפרטס התפריט */
   
}

.menu-toggle:checked + .hamburger + .menu ul {
   display: block; /* הצגת התפריט כאשר ההמבורגר פתוח */
   visibility: visible;

}

.navlinks
{
   display: none;
}
.nonmobile
{
   display: none;
   color: white;
}

.menu ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none; /* הסתרת רשימת הקישורים */
}

.menu-toggle:checked + .hamburger + .menu ul {
   display: block; /* הצגת רשימת הקישורים כאשר ההמבורגר פתוח */
}

.menu-toggle::after + .hamburger + .menu ul 
{
display: none;
}

.menu-toggle
{
   display: none;
}

}


