/* @import url("reset.css"); */
@import url("vars.css");
/* @import url("mobile.css");
@import url("tablet.css");
@import url("laptop.css");
@import url("laptop_L.css"); */


@media (max-width: 2560px) {
      
   p {
      font-family: var(--font-main);
      font-weight: var(--font-weight-normal);
      font-size: var(--fs-paragraph);
   }

   .menu
   {
     display: none;
   }

   .checkbox, .menu-toggle, .menu-toggle
   {
     display: none;
   } 

   body {
      margin: var(--zero-margin);
      background-color: var(--bg-shop);
   }
   
   .burger-menu {
      display: none;
   }

   #shop-container {
      display: grid;  
      grid-template-areas: 
      'header header header'
      'video video video'
      'box1 box13 box2'
      'box3 box4 box5'
      'box6 box7 box8'
      'box9 box10 box11'
      'box12 box14 .'
      'footer footer footer';
      gap: 20px;
      row-gap: 40px;
   }
   
   .box0
   {
      grid-area: video;
      height: 100vh;
      width: 100%;
      object-fit: cover;
   }
   

      .video {
         grid-area: video;
         width: 100%;
         object-fit: cover; 
         margin-top: 5%;
      }
      
      .video-mobile {
         display: none;
         
      }

      button {
         font-size: var(--fs-buttons);
         transition: 0.6s;
      }

      .buttonvideo {
         font-weight: var(--font-weight-normal);
         transition: 0.6s;
         background-color: transparent;
         color: black;
         border: 1px solid black;
         cursor: pointer;
         height: 5vh;
         margin-left: 40%;
         width: 20%;
         border-radius: 50px;
         
     }
   
     .buttonvideo:hover {
      cursor: pointer;
      color: #fff;
      background-color: black;
      border-color: rgb(0, 0, 0);
      font-weight: 700;
   }
   
   .logo {
      top: 0.2vh;
      left: 3px;
      position: fixed;
      z-index: 110;
      opacity: 100%;
      height: 10vh;
      width: 6%;
   }

   #shop-navbar a {
      transition: 0.5s;
      position: relative;
      text-decoration: none;
      color: white;
    }
    
    #shop-navbar a::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      margin-top: 5px;
      background: white;
      transition: width ease 0.5s;
    }
    
    #shop-navbar a:hover::after {
      width: 100%;
    }
    
    #shop-navbar a:hover {
      color: white;
    }
   
   #shop-navbar {
      font-family: var(--font-navbar);
      grid-area: header;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      z-index: 200;
      top: 0;
      position: fixed;
      height: 10vh;
      width: 100%;
      background-color: var(--bg-main);
      
   }
   
   .navlinks {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
   }
   
   .navlinks li a {
      display: block;
      transition: 0.5s;
      color: white;
      text-align: center;
      padding: 2vh 2vw;
      text-decoration: none;
      background-color: #000000;
   }
   
   .navlinks li a:hover {
      transition: 0.5s;
   }
   
   .navlinks img {
      border-radius: 10vh;
      height: 1vh;
   }
   
      .box {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-end;
          border-radius: 5px;
          padding: 20px 25px;
          text-align: left;
          gap: 5%;
      }
   
      .box1 {grid-area: box1;}
   
      .box13 {grid-area: box13;}
   
      .box2 {grid-area: box2;}
   
      .box3 {grid-area: box3;}
   
      .box4 {grid-area: box4;}
   
      .box4 img {
         height: 27vh;
      } 
   
      .box5 {grid-area: box5;}
   
      .box6 {grid-area: box6;}
   
      .box7 {grid-area: box7;}
   
      .box8 {grid-area: box8;}
   
      .box9 {grid-area: box9;}
   
      .box9 img {
         height: 33vh;
      } 
   
      .box10 {grid-area: box10;}
   
      .box10 img {
         margin-bottom: 3%;
      } 
   
      .box11 {grid-area: box11;}
   
      .box12 {grid-area: box12;}
   
      .box14 {grid-area: box14;}
   
   
      .product-image {
         
      }
      
      .imgbox1
      {
         transition: 0.7s;
         height: 30vh;
      }
   
      .imgbox1:hover {
         cursor: pointer;
         transition: 0.7s;
         transform: scale(1.1);
      }
      
      .product-info button {
         border: none;
         padding: 19px 10px;
         border-radius: 3px;
         cursor: pointer;
      }
      
       .product-info button img {
         width: 100%; /*Set the size of the icon */
         /* height: 10vh; */
         vertical-align: middle; /* Align the icon vertically */
      }
      
      .product-info button{
         font-weight: 500;
         background-color: transparent;
         color: #494239;
         padding: 5px;
         border-radius: 3px;
         cursor: pointer;
      }
   
      .product-info .buybutton {
         border: 1px solid rgb(0, 0, 0);
         border-radius: 50px;
         width: 120px;
         height: 40px;
         transition: 0.3s;
      }
      
      .product-info .buybutton:hover{
         transition: 0.3s;
         font-weight: 600;
         background-color: black;
         color: white
   
      }
   
      .product-info {
         color: #000;
         font-weight: 500;
         line-height: 1.3;
      }
   
      .product-info > h3 {
         font-family: var(--font-main);
         font-weight: var(--font-weight-normal);
         font-size: var(--fs-heading-shop);
      }
   
      .product-info > p {
         font-family: var(--font-main);
         font-weight: var(--font-weight-light);
         font-size: var(--fs-paragraph);
      }
   
      #buy-buttons {
         justify-content: center;
      }
      
      
      
      .buybutton {
         order: 2; /* Keep the button below the product info */
         width: 5%;
         background-color: #ffffff;
         border-radius: 6px;
         cursor: pointer;
         height: 100%;
         margin: 0;
         width: 50%;
         font-size: 0.8em;
          }
   
      #favorite-item {
         order: 1;
         width: 20%;
         height: 40%;
         margin: 0;
      }
   
      #favorite-item > img { 
         height: 100%;
         transition: 0.5s;
      }
   
   
    #favorite-item > img:hover {
      transition: 0.3s;
      transform: scale(1.2);
      filter: invert(26%) sepia(35%) saturate(4164%) hue-rotate(342deg) brightness(89%) contrast(82%);}
   
   
      #buy-buttons {
         display: flex;
         justify-content: center;
         gap: 10px;
         align-items: center;
         height: 30%;
      }
      
      .product-info {
         color: #000;
         font-weight: 500;
         font-size: 1.3em;
         line-height: 1.3;
         padding: 0 17%;
      }
   
      #shop-navbar > .navlinks a {
         padding: 25px;
      }
   
      #favorite-item {
         padding-top: 0;
         order: 3;
         height: 100%;
         margin: 0;
         width: 50%;
         font-size: 0.8em;
      }
   
      #favorite-item > img {
         width: 40%;
         height: auto;
         
      }
      
   .video {
      margin: 0;
      padding: 2% 0;
      width: 100%;
      height: 70vh;
      /* object-fit: cover; */
      opacity: 100%;
   }
   
   .logo {
      top: 0.2vh;
      left: 5%;
      position: fixed;
      z-index: 110;
      opacity: 100%;
      height: 10vh;
   }
   
   
   .navlinks {
      list-style-type: none;
      margin: 0;
      padding: 0;
   }
   
   
   .navlinks img {
      border-radius: 10vh;
      height: 1vh;
   }
   
   .footindex {
    background-color: #000;
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 10px;
    flex-wrap: wrap;
    }
    
    .footer-item {
       flex: 1;
       margin: 10% 0;
       
    }
    .footer-item form {
       margin-top: 10px;
    }
    
    .footer-item input[type="email"] {
       padding: 10px;
       border: 2px solid #000;
       border-radius: 5px;
       font-size: 16px;
       width: 200px;
       margin-right: 10px;
    }
    
    .footer-item input[type="submit"] {
       padding: 10px 20px;
       border: none;
       border-radius: 5px;
       font-size: 16px;
       background-color: #000;
       color: white;
       cursor: pointer;
    }
    
    .footer-item input[type="submit"]:hover {
       background-color: #333;
    }
    
    .footer-links {
       padding-left: 0;
    }
    
    .footer-links li {
       list-style-type: none;
       margin-bottom: 5px;
    }
    
    .footer-links a {
       color: #fff;
       text-decoration: none;
    }
    
    .footer-links a:hover {
       text-decoration: underline;
    }
    
    @media (max-width: 600px) {
       .footindex {
           flex-direction: column;
       }
    
       .footer-item {
           width: 100%;
       }
    }
}


@media (max-width: 450px) {

   #shop-container {
      display: grid;
      grid-template-areas:
   'header'
   'video'
   'box1'
   'box13'
   'box2'
   'box3'
   'box4'
   'box5'
   'box6'
   'box7'
   'box8'
   'box9'
   'box10'
   'box11'
   'box12'
   'box14'
   'footer';
        gap: 20vh;
    }

    #foot2 {display: none;}

    .line {
      width: 100%;
    }
      .burger-menu {
         display: block;
         height: 10%;
         width: 18%;
         filter: invert(100%);
         position: relative;
         left: 80%;
         overflow: hidden;
       }
  

    .box0
   { 
      grid-area: video;
   }
    
      .video {
         display: none;
      }
      
      .video-mobile {
         display: block;
         grid-area: video;
         height: 70vh;
         object-fit: cover; 
         margin-top: 4%;
         position: relative;
         bottom: 13%;
         width: 100%;
      }

      button {
         font-size: var(--fs-buttons);
         transition: 0.6s;
      }

      .buttonvideo {
         font-weight: var(--font-weight-bold);
         transition: 0.6s;
         background-color: transparent;
         color: black;
         border: 1px solid black;
         cursor: pointer;
         height: 7vh;
         margin-left: 25%;
         width: 53%;
         border-radius: 50px;
         
     }
   
     .buttonvideo:hover {
      color: #fff;
      background-color: black;
      border-color: rgb(0, 0, 0);
      font-weight: 700;
   }
   
   .logo {
      top: 0.2vh;
      left: 3px;
      position: fixed;
      z-index: 110;
      opacity: 100%;
      height: 10vh;
      width: auto;
   }
   
   #shop-navbar {
      grid-area: header;
      display: flex;
      justify-content: center;
      overflow: hidden;
      z-index: 200;
      top: 0;
      position: fixed;
      height: 10vh;
      width: 100%;
      background-color: #000000;
      
   }
   
   .navlinks {
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
   }
   
   .navlinks li a {
      color: white;
      display: block;
      text-align: center;
      padding: 2vh 2vw;
      text-decoration: none;
      background-color: #000000;
   }
   
   .navlinks li a:hover {
      color: #515050;
   
   }
   
   .navlinks img {
      border-radius: 10vh;
      height: 1vh;
   }
   
      .box {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-end;
          border-radius: 5px;
          padding: 20px 25px;
          text-align: left;
          gap: 5%;
      }
   
      .box1 {grid-area: box1;}
   
      .box13 {grid-area: box13;}
   
      .box2 {grid-area: box2;}
   
      .box3 {grid-area: box3;}
   
      .box4 {grid-area: box4;}
   
      .box4 img {
         height: 27vh;
      } 
   
      .box5 {grid-area: box5;}
   
      .box6 {grid-area: box6;}
   
      .box7 {grid-area: box7;}
   
      .box8 {grid-area: box8;}
   
      .box9 {grid-area: box9;}
   
      .box9 img {
         height: 33vh;
      } 
   
      .box10 {grid-area: box10;}
   
      .box10 img {
         margin-bottom: 3%;
      } 
   
      .box11 {grid-area: box11;}
   
      .box12 {grid-area: box12;}
   
      .box14 {grid-area: box14;}
   
   
      .product-image {
         
      }
      
      .imgbox1
      {
         transition: 0.7s;
         height: 30vh;
      }
   
      .imgbox1:hover {
         cursor: pointer;
         transition: 0.7s;
         transform: scale(1.1);
      }
      
      .product-info button {
         border: none;
         padding: 19px 10px;
         border-radius: 3px;
         cursor: pointer;
      }
      
       .product-info button img {
         width: 100%; /*Set the size of the icon */
         /* height: 10vh; */
         vertical-align: middle; /* Align the icon vertically */
      }
      
      .product-info button{
         font-weight: 500;
         background-color: transparent;
         color: #494239;
         padding: 5px;
         border-radius: 3px;
         cursor: pointer;
      }
   
      .product-info .buybutton {
         border: 1px solid rgb(0, 0, 0);
         border-radius: 50px;
         width: 120px;
         height: 40px;
         transition: 0.3s;
      }
      
      .product-info .buybutton:hover{
         transition: 0.3s;
         font-weight: 600;
         background-color: black;
         color: white
   
      }
   
      .product-info {
         color: #000;
         font-weight: 500;
         line-height: 1.3;
      }
   
      .product-info > h3 {
         font-family: var(--font-main);
         font-weight: var(--font-weight-normal);
         font-size: var(--fs-heading-shop);
      }
   
      .product-info > p {
         font-family: var(--font-main);
         font-weight: var(--font-weight-light);
         font-size: var(--fs-paragraph);
      }
   
      #buy-buttons {
         justify-content: center;
      }
      
      
      
      .buybutton {
         order: 2; /* Keep the button below the product info */
         width: 5%;
         background-color: #ffffff;
         border-radius: 6px;
         cursor: pointer;
         height: 100%;
         margin: 0;
         width: 50%;
         font-size: 0.8em;
          }

   
   
    #favorite-item > img:hover {
      transition: 0.3s;
      transform: scale(1.2);
      filter: invert(26%) sepia(35%) saturate(4164%) hue-rotate(342deg) brightness(89%) contrast(82%);}
   
   
      #buy-buttons {
         display: flex;
         justify-content: center;
         gap: 10px;
         align-items: center;
         height: 30%;
      }
      
      .product-info {
         color: #000;
         font-weight: 500;
         font-size: 1.3em;
         line-height: 1.3;
         padding: 0 17%;
      }
   
      #shop-navbar > .navlinks a {
         margin: 0;
         padding: 25px;
      }
   
      #favorite-item {
         padding-top: 0;
         order: 3;
         height: 100%;
         margin: 0;
         width: 50%;
         font-size: 0.8em;
      }
   
      #favorite-item > img {
         width: 50%;
         height: auto;
         transition: 0.5s;
      }
      
   .video {
      margin: 0;
      padding: 2% 0;
      width: 100%;
      height: 70vh;
      /* object-fit: cover; */
      opacity: 100%;
   }
   
   .logo {
      top: 0.2vh;
      left: 5%;
      position: fixed;
      z-index: 110;
      opacity: 100%;
      height: 10vh;
   }
   
   
   .navlinks {
      list-style-type: none;
      margin: 0;
      padding: 0;
   }
   
   .navlinks li a {
      color: white;
      display: block;
      text-align: center;
      padding: 2vh 2vw;
      text-decoration: none;
      background-color: #000000;
   }
   
   .navlinks img {
      border-radius: 10vh;
      height: 1vh;
   }
   
   .footindex {
      grid-area: footer;
      background-color: #0a0a0a;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      padding: auto;
   }
   
   .footindex div {
      flex: 1;
      margin: 10px;
   }
   
   .footindex .footer-logo {
      max-width: 100px;
   }
   
   .footindex p {
      margin: 5px 0;
   }
   
   .footindex h2 {
      font-size: 1.2em;
      margin-bottom: 10px;
   }
   
   .footindex .footer-links {
      list-style-type: none;
      padding: 0;
   }
   
   .footindex .footer-links li {
      margin-bottom: 5px;
   }
   
   .footindex a {
      color: #fff;
      text-decoration: none;
   }
   
   .footindex a:hover {
      text-decoration: underline;
   }
   
   #fb, #yt, #tw, #ig {
      max-width: 30px;
      margin-right: 5px;
   }
   form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
   }
   .foot4
   {
      margin-top: 30%;
   }
   input[type="email"] {
      padding: 10px;
      border: 2px solid #000;
      border-radius: 5px;
      font-size: 16px;
   }
   
   input[type="submit"] {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      background-color: #000;
      color: white;
      cursor: pointer;
   }
   
   input[type="submit"]:hover {
      background-color: #333;
   }



   .hamburger {

      background: #333;
       position: absolute;
       padding: 11px 13px;
       top: 5px;
       right: 20px;
       font-size: 30px;
       cursor: pointer;
       color: white;
       z-index: 2;
   }
   
   .menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
   }
   
   .menu ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   
   .menu ul li {
      text-align: center;
      margin-bottom: 20px;
   }
   
   .menu ul li a {
      text-decoration: none;
      color: white;
      font-size: 24px;
   }
   
   .menu-toggle:checked + .hamburger {
      background-color: transparent;
      display: none;
   }
   
   
   
   #shop-navbar input {
      appearance: none;
   }
   
   .menu-toggle:checked + .hamburger + .menu {
      display: block;
   }
   
   #menu-close:checked{
      display: none;
   }
   
   .close-menu {
      background: #333;
      position: absolute;
      padding: 11px 16px;
      top: 10px;
      right: 20px;
      font-size: 30px;
      cursor: pointer;
      color: white;
      z-index: 2;
   }
   
   
   .close-menu:hover {
      color: red; /* צבע כאשר מרחיקים מהכפתור */
   }
   /* עיצוב למסכי מובייל עם רוחב עד 600 פיקסלים */
   
   
   .menu ul::before {
      display: none; /* ערך הגנרי להסתרת התפריט */
      visibility: hidden; /* כדי שלא יתפרטס התפריט */
      
   }
   
   .menu-toggle:checked + .hamburger + .menu ul {
      display: block; /* הצגת התפריט כאשר ההמבורגר פתוח */
      visibility: visible;
   
   }
   
   .navlinks
   {
      display: none;
   }
   
   .menu ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; /* הסתרת רשימת הקישורים */
   }
   
   .menu-toggle:checked + .hamburger + .menu ul {
      display: block; /* הצגת רשימת הקישורים כאשר ההמבורגר פתוח */
   }
   
   .menu-toggle::after + .hamburger + .menu ul 
   {
   display: none;
   }
   
   .menu-toggle
   {
      display: none;
   }




   
}
 
@media (min-width: 451px) {
   .logo {
      top: 0.2vh;
      left: 35px;
      position: fixed;
      z-index: 110;
      opacity: 100%;
      height: 10vh;
      width: 8%;
   }



   #favorite-item > img {
      width: 70%;
   }

   .footindex {
      grid-area: footer;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: #fff;
      padding: 10px;
      flex-wrap: wrap;
      }
      
      .footer-item {
         flex: 1;
         margin: 10%;
         
      }
      .footer-item form {
         margin-top: 10px;
      }
      
      .footer-item input[type="email"] {
         padding: 10px;
         border: 2px solid #000;
         border-radius: 5px;
         font-size: 16px;
         width: 200px;
         margin-right: 10px;
      }
      
      .footer-item input[type="submit"] {
         padding: 10px 20px;
         border: none;
         border-radius: 5px;
         font-size: 16px;
         background-color: #000;
         color: white;
         cursor: pointer;
      }
      
      .footer-item input[type="submit"]:hover {
         background-color: #333;
      }
      
      .footer-links {
         padding-left: 0;
      }
      
      .footer-links li {
         list-style-type: none;
         margin-bottom: 5px;
      }
      
      .footer-links a {
         color: #fff;
         text-decoration: none;
      }
      
      .footer-links a:hover {
         text-decoration: underline;
      }
}

@media (min-width: 768px) {

   .buttonvideo {
      width: 20%;
      height: 6vh;
   }

   .line {width: 100%;}

   .footindex {
      grid-area: footer;
      
         display: flex;
         justify-content: space-around;
         color: #fff;
         padding: 10px;
         flex-wrap: wrap;
      }
      
      .footer-item {
         flex: 1;
         margin: 10%;
         
      }
      .footer-item form {
         margin-top: 10px;
      }
      
      .footer-item input[type="email"] {
         padding: 10px;
         border: 2px solid #000;
         border-radius: 5px;
         font-size: 16px;
         width: 200px;
         margin-right: 10px;
      }
      
      .footer-item input[type="submit"] {
         padding: 10px 20px;
         border: none;
         border-radius: 5px;
         font-size: 16px;
         background-color: #000;
         color: white;
         cursor: pointer;
      }
      
      .footer-item input[type="submit"]:hover {
         background-color: #333;
      }
      
      .footer-links {
         padding-left: 0;
      }
      
      .footer-links li {
         list-style-type: none;
         margin-bottom: 5px;
      }
      
      .footer-links a {
         color: #fff;
         text-decoration: none;
      }
      
      .footer-links a:hover {
         text-decoration: underline;
      }
}
@media (min-width: 1024px) and (max-width: 1439px){
   .logo {
      top: 0.2vh;
      left: 5%;
      position: fixed;
      z-index: 110;
      opacity: 100%;
      height: 10vh;
      width: auto;
   }
   .menu
   {
     display: none;
   }
   .checkbox, .menu-toggle, .menu-toggle
   {
     display: none;
   }
   #shop-navbar > .navlinks a {
      /* font-size: 1em; */
      text-align: center;
      margin: 0;
      padding: 25px;
   }

   .navlinks li a {
      transition: 0.5s;
      color: white;
      display: block;
      text-align: center;
      padding: 2vh 2vw;
      text-decoration: none;
      background-color: #000000;
   }
   
   .navlinks li a:hover {
      transition: 0.5s;
      color: #515050;
   
   }

   .box0
   {
      grid-area: video;
      height: 92vh;
      width: 100%;
      object-fit: cover;
   }

   .video {
      grid-area: video;
         width: 100%;
         height: 50vh;
         object-fit: cover; 
         /* margin-top: 5%; */
   }

   .buttonvideo {
      width: 17%;
      height: 4.5vh;
      margin-left: 42%;
   }

   #favorite-item > img {
      width: 60%;
   }

}

@media (min-width: 1440px) {
   .logo {
      width: auto;
      left: 6%;
   }

   #shop-navbar > .navlinks a {
      padding: 35px;
   }

   #favorite-item > img {
      width: 35%;
   }

   .navlinks li a {
      transition: 0.5s;
      color: white;
      display: block;
      text-align: center;
      padding: 2vh 2vw;
      text-decoration: none;
      background-color: #000000;
   }
   
   .navlinks li a:hover {
      transition: 0.5s;
      color: #515050;
   
   }

   .buttonvideo {
      width: 17%;
      height: 4.5vh;
      margin-left: 42%;
   }
   .menu
 {
   display: none;
 }
 .checkbox, .menu-toggle, .menu-toggle
 {
   display: none;
 }
}

