*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }



 .menu
 {
   display: none;
 }
 .checkbox, .menu-toggle, .menu-toggle
 {
   display: none;
 }

 
 .body
 {
  
 }
 .container1 {
   display: grid;
   grid-template-areas: 
   'box1'
   'continer1'
   'footindex';

   height: 100vh;
   margin: 0 auto;
   position: relative;
background-image: url(../images/Golani\ Spirit\ Logo\ copy.png); }
 .container .form-1 {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   width: 40%;
   box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
 }

 .container1
 {
   grid-area: continer1;
 }
 .form-1 h1 {
   text-align: center;
   margin-top: 0.7rem;
   margin-bottom: 1.5rem;
 }
 input[type="email"],
 input[type="password"] {
   border: none;
   outline: none;
   border-bottom: 1px solid;
   background: none;
   margin: 0.9rem 2rem;
   font-size: 1rem;
 }
 label {
   margin: 0 2rem;
 }
 span {
   margin: 0 2rem;
   color: blue;
   cursor: pointer;
 }

 /* ........///Sign-Up///......... */
 p {
   text-align: center;
   font-weight: bolder;
 }
 .icons {
   display: flex;
   justify-content: center;
   margin-bottom: 3rem;
   margin-top: 0.5rem;
 }
 .icons a {
   text-decoration: none;
   font-size: 1rem;
   margin: 0.2rem;
 }




 button {
   margin: 2rem;
   margin-bottom: 1.5rem;
   padding: 0.5rem;
   cursor: pointer;
   border-radius: 1rem;
   border: none;
   font-size: 1.1rem;
   font-weight: bolder;
   color: #ffffff; /* שינוי צבע הכפתור לשחור */
   background-color: #000;
 }
 
 
 .icons .fa-facebook-f {
   border-radius: 50%;
   background: #000; /* שינוי צבע הרקע של האייקון של פייסבוק לשחור */
   color: #fff;
   padding: 1rem;
 }
 
 .icons .fa-twitter {
   border-radius: 50%;
   background: #000; /* שינוי צבע הרקע של האייקון של טוויטר לשחור */
   color: white;
   padding: 1rem;
 }
 
 .icons .fa-google {
   border-radius: 50%;
   background: #000; /* שינוי צבע הרקע של האייקון של גוגל לשחור */
   color: #fff;
   padding: 1rem;
 }

 
/* -------- */

.box1 {
   grid-area: box1;

}

.logo {
   top: 0.2vh;
   left: 3px;
   position: fixed;
   z-index: 110;
   opacity: 100%;
   height: 10vh;
width: 5%;
margin-left: 6%;
}

.navbar {
   overflow: hidden;
   z-index: 200;
   top: 0;
   position: fixed;
   width: 100%;
   background-color: #000000;
   text-align: center;
   margin-top: -2%;
   
}

.navlinks li {
   float: right;

}

.navlinks {
   list-style-type: none;
   margin: 0;
   padding: 0;
   
}

.navlinks li a {
   color: white;
   display: block;
   text-align: center;
   padding: 2vh 2vw;
   text-decoration: none;
   margin-top: 2vh;
}


.navlinks img {
   border-radius: 10vh;
   height: 1vh;

}



/* --------footer------ */


 .footindex {
   grid-area: footindex;
   
      display: flex;
      justify-content: space-around;
      color: #fff;
      padding: 10px;
      flex-wrap: wrap;
   }
   
   .footer-item {
      flex: 1;
      margin: 10%;
      
   }
   .footer-item form {
      margin-top: 10px;
   }
   
   .footer-item input[type="email"] {
      padding: 10px;
      border: 2px solid #000;
      border-radius: 5px;
      font-size: 16px;
      width: 200px;
      margin-right: 10px;
   }
   
   .footer-item input[type="submit"] {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      background-color: #000;
      color: white;
      cursor: pointer;
   }
   
   .footer-item input[type="submit"]:hover {
      background-color: #333;
   }
   
   .footer-links {
      padding-left: 0;
   }
   
   .footer-links li {
      list-style-type: none;
      margin-bottom: 5px;
   }
   
   .footer-links a {
      color: #fff;
      text-decoration: none;
   }
   
   .footer-links a:hover {
      text-decoration: underline;
   }
   

 /* ....///Media query///..... */
 @media (max-width: 501px) {
   html {
     font-size: 15px;
   }
   .container .form-1 {
     width: 300px;
   }
 }
 @media (min-width: 501px) and (max-width: 768px) {
   html {
     font-size: 14px;
   }
   .container .form-1 {
     width: 450px;
   }
 }
 @media (min-width: 765px) and (max-width: 1200px) {
   html {
     font-size: 18px;
   }
   .container .form-1 {
     width: 540px;
     height: 550px;
   }
 }
 @media (orientation: landscape) and (max-height: 500px) {
   .container {
     height: 100vmax;
   }
 }