
@media (max-width: 700px) 
{

body
{
   padding: 0;
   margin: 0;
}

.container {
   display: grid;
   grid-template-areas:
       'box1'
       'box3'
       'box2'
       'box5'
       'box4'
       'box6'
       'box10'
       'box11'
       'box12'
       'box13'
       'box14'
       'box15'
       'footindex';
   gap: 10vh;
}

 .box1
 {
   grid-area: box1;
   margin: top0;
 }
 .video-container {
   position: relative;
   z-index: 0; /* על מנת להציג את הסרטון מאחורי התפריט */
   /* השארת שאר הסגנונות כמו שהיו */
}
.video {
   width: 100vw;
   height: 60vh;
   object-fit: cover;
   opacity: 100%;
   margin-top: 0;
   z-index: -100;
}
 .box2
 {
   grid-area: box2;
 }
 .box3
 {
   grid-area: box3;
 }
 .box4
 {
   grid-area: box4;
 }
 .box4
 {
   grid-area: box5;
 }
 .box5
 {
   grid-area: box6;
 }
 .box6
 {
   grid-area: box7;
 }
 .box7
 {
   grid-area: box8;
 }
 .box8
 {
   grid-area: box9;
 }
 .box9
 {
   grid-area: box10;
 }
 .box1
 {
   grid-area: box11;
 }
 .box1
 {
   grid-area: box12;
 }

 .box1
 {
   grid-area: box13;
 } .box1
 {
   grid-area: box14;
 }

 .box4
 {
   grid-area: box15;
 }
 .footindex
 {
   grid-area: footindex;
 }
 
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #ea0000;
    --background-color: white;
    --hamburger-margin: 5px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
   grid-area: box1;
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 99999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), transform var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    transform: rotate(45deg) translate(0, calc(var(--bar-height) / -2));
    width: var(--x-width);
}

.hamburger-menu:has(input:checked)::after {
    transform: rotate(-45deg) translate(0, calc(var(--bar-height) / 2));
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: transform var(--animation-timing);
    transform: translateX(-100%);
    padding: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 10rem;
    min-height: 100vh;
    z-index: 1;
}

.hamburger-menu:has(input:checked) + .sidebar {
    transform: translateX(0);
}
/* סגנון כללי לקישורים */
.sidebar nav a {
   text-decoration: none; /* להסיר קו תחתון מהקישור */
   color: var(--background-color); /* צבע הטקסט */
   padding: 8px 16px; /* מרווח מסביב לטקסט בקישור */
   display: block; /* כל קישור בנפרד יופיע בשורה נפרדת */
   transition: background-color 0.3s; /* אנימציה לשינוי צבע הרקע במעבר */
}

/* סגנון כאשר העכבר עליו */
.sidebar nav a:hover {
   background-color: var(--foreground); /* צבע רקע במעבר העכבר */
   color: var(--background-color); /* צבע טקסט במעבר העכבר */
}

/* סגנון כאשר הקישור פעיל */
.sidebar nav a:active {
   background-color: var(--foreground); /* צבע רקע בלחיצה */
   color: var(--background-color); /* צבע טקסט בלחיצה */
}





.video {
  height: 100%;
  width: 100%;

}

.logo {
  height: auto;
width: 15%;
margin-left: 10%;
}

.br
{
  margin-left: 40%;
  z-index: 100;
  filter: brightness(0) invert(1);

  
}
.navbar {
  overflow: hidden;
  z-index: 200;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: #000000;
  position: fixed;

  
}

.box2 {
  grid-area: box2;

}

.img2 {

height: auto;
width: 50%;
border-radius: 25px;
margin-left: 25%;
}

.img4 
{
  height: auto;
  width: 50%;
  border-radius: 25px;
  margin-left: 25%;
}

.box3 {
  grid-area: box3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 100%;
  color: white;
}

.text {
  font-size: 3.5vh;
  text-align: center;
  padding: 0 2vh;
  margin-top: 10%;
}

.overlay {
  z-index: 100;
}

.wrapper {
  display: inline-block;
  margin: 0 5px;
}

.letter {
  transition: ease-out 2s;
  transform: translateY(70%);
}

.shadow {
  color: #131212;
  transition: ease-in 3s, ease-out 3s;
}

.text:hover .letter {
  transform: translateY(-100%);
}

.text:hover .shadow {
  opacity: 0;
  transform: translateY(100%);
}
.box4 {
  grid-area: box4;
 
}



.box5 {
  grid-area: box5;
  
}
.line {

}

.p5h 
{
  font-size: 1.2rem; 
  font-size: large;


}
.box5{
  margin-left: 10%;
  
}

.p5{
  width: 80%;
  margin-right: -20%;
  font-size: medium;
}


.button6,
.buttonvideo {
   background-color: transparent;
   color: rgb(255, 255, 255);
   border: 1px solid rgb(255, 255, 255);
   cursor: pointer;
   font-size: 1rem;
   height: 5vh;
   width: 30%;
   border-radius: 50px;
   margin-left: 34%;
}

.button5:hover,
.button6:hover,
.buttonvideo:hover {
   color: #000000;
   background-color: rgb(255, 255, 255);
   border-color: black;
}

.button5
{
  width: 30%;
  background-color: transparent;
   color: rgb(255, 255, 255);
   border: 1px solid rgb(255, 255, 255);
   cursor: pointer;
   font-size: 1rem;
   height: 5vh;
   border-radius: 50px;
}
.footindex {
  grid-area: footindex;
  background-color: #0a0a0a;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 0.5;
}

.box6 {
  grid-area: box6;
  background-color: rgb(0, 0, 0);
  height: 80%;
  width: 100%;

}

.img6
{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 30%;
}

.footindex div {
  flex: 1;
  margin: 10px;
}

.footindex .footer-logo {
  max-width: 100px;
}

.footindex p {
  margin: 5px 0;
}

.footindex h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footindex .footer-links1 {
  list-style-type: none;
  padding: 0;
}

.footindex .footer-links li {
  margin-bottom: 5px;
  display: none;
}

.footindex a {
  color: #fff;
  text-decoration: none;
  display: none;

}

.footindex a:hover {
  text-decoration: underline;
}

#fb, #yt, #tw, #ig {
  max-width: 30px;
  margin-right: 5px;
  filter: brightness(0) invert(1);
  display: none;
}
.h2f
{
  display: none;

}
.line {
  width: 100%;
  height: 1px;
  background-color: white;
  animation: wave 2s infinite alternate;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  margin-top: 20px;
}
.foot4
{
  margin-top: 30%;
}
input[type="email"] {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #000;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #333;
}


.box10
{
  grid-area: box10;
margin-left: 10%;
 width: 80%;
}
.p10
{
  color: white;
  font-size: 0.7rem;
  letter-spacing: 2px;

}
.pp10
{
  color: white;
 
  font-size: 1rem;
  letter-spacing: 2px;
  
  
}
.box11
{
  grid-area: box11;

}
.img11
{
  height: auto;
  width: 50%;
  border-radius: 25px;
  margin-left: 25%;
}


.box12
{
  grid-area: box12;
  margin-left: 10%;
  width: 80%;
 
}
.p12
{
  color: white;

}
.pp12
{
  color: white;

}
.box13
{
  grid-area: box13;

 

}
.box14
{
  grid-area: box14;
  margin-left: 10%;
  width: 80%;

}
.pp14
{


}
.p14
{
color: white;
font-size: 1rem;
letter-spacing: 2px;


}
.img14
{
  height: auto;
  width: 50%;
  border-radius: 25px;
  margin-left: 25%;

}
.box15
{
  grid-area: box15;

}
.img15
{
  height: auto;
  width: 50%;
  border-radius: 25px;
  margin-left: 25%;


}
}
