:root {
   
/*----------- Reset Properties --------*/
    --zero-margin: 0;

/*----------- Font Properties --------*/
    --font-main: 'Heebo', sans-serif;  
    --font-navbar: 'Times';
    --font-weight-normal: 400;
    --font-weight-lightest: 200;
    --font-weight-light: 300;
    --font-weight-bold: 700;
    --font-weight-paragraph: 200;
    --fs-paragraph: 0.8em;
    --fs-heading: 0.9em;

/*----------- Color Properties --------*/
    --bg-main: black;
    --bg-shop: white;
}