@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');


:root {
   
/*----------- Reset Properties --------*/
    --zero-margin: 0;
    --reset-padding: 0;

/*----------- Font Properties --------*/
    --font-main: 'Heebo', sans-serif;  
    --font-navbar: 'Times New Roman', serif;
    --font-weight-normal: 400;
    --font-weight-lightest: 200;
    --font-weight-light: 300;
    --font-weight-bold: 700;
    --font-weight-heavy-bold: 900;
    --font-weight-paragraph: 200;
    --fs-mobile-menu: 1.5em;
    --fs-paragraph: 0.8em;
    --fs-paragraph-home: 1em;
    --fs-buttons: 1rem;
    --fs-heading: 2em;
    --fs-heading-shop: 1em;
    --fs-heading-tablet: 1.8em;
    --letter-spacing-home: 2px;

/*----------- Color Properties --------*/
    --bg-main: black;
    --bg-shop: white;
}